@import '../../styles/variables.scss';

.toggleButton {
  display: inline-block;
  all: unset;
  width: 3.5rem;

  img {
    display: inline-block;
    width: 3.25rem;
    height: 3.25rem;
    object-fit: cover;
  }

  svg {
    width: 100%;
    fill: $clr-primary;
    stroke-width: 1;
  }

  @media only screen and (min-width: 30.0625em) {
    display: none;
  }
}
