@import '../../styles/responsive.scss';

.reviewCardSkeleton {
  background-color: #fdfdfd;
  border-radius: 0.5rem;

  &:not(:last-child) {
    margin-bottom: 1rem;

    @include md {
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 18.75em) {
      margin-bottom: 1.5rem;
    }

    @media only screen and (min-width: 112.5em) {
      margin-bottom: 2rem;
    }
  }

  .reviewCardWrap {
    padding: 5.6rem 4rem 4rem 4rem;

    @media only screen and (max-width: 56.25em) {
      padding: 5rem 2.5rem 2.5rem 2.5rem;
    }

    @include md {
      padding: 5rem 4rem 4rem 4rem;
    }

    @media only screen and (max-width: 26.8125em) {
      padding: 5rem 2rem 4rem 2rem;
    }

    @media only screen and (max-width: 18.75em) {
      padding: 4rem 1.7rem;
    }

    .reviewCardBox {
      display: flex;
      align-items: center;
      gap: 2.8rem;
      position: relative;

      @media only screen and (max-width: 56.25em) {
        gap: 2rem;
      }

      @include sm {
        gap: 1.5rem;
      }

      @media only screen and (max-width: 18.75em) {
        gap: 1rem;
      }

      span.react-loading-skeleton {
        @include xl {
          width: 9.667rem !important;
          height: 9.667rem !important;
        }

        @media only screen and (max-width: 56.25em) {
          width: 10.875rem !important;
          height: 10.875rem !important;
        }

        @media only screen and (max-width: 37.5em) {
          width: 8.75rem !important;
          height: 8.75rem !important;
        }

        @media only screen and (max-width: 26.8125em) {
          width: 6.25rem !important;
          height: 6.25rem !important;
        }

        @media only screen and (max-width: 18.75em) {
          width: 4rem !important;
          height: 4rem !important;
        }

        @media only screen and (min-width: 112.5em) {
          width: 10rem !important;
          height: 10rem !important;
        }
      }

      .reviewCardRating {
        position: absolute;
        top: -2.6rem;
        right: -1.6rem;

        span.react-loading-skeleton {
          @media only screen and (max-width: 93.75em) {
            width: 14rem !important;
          }

          @include xxl {
            width: 14rem !important;
          }

          @include xl {
            width: 12rem !important;
            height: 1.6rem !important;
          }

          @media only screen and (max-width: 56.25em) {
            width: 10rem !important;
            height: 1.8rem !important;
          }

          @media only screen and (max-width: 37.5em) {
            width: 9rem !important;
            height: 1.25rem !important;
          }

          @media only screen and (max-width: 26.8125em) {
            width: 8rem !important;
          }

          @media only screen and (max-width: 18.75em) {
            width: 7rem !important;
          }
        }
      }

      .reviewCardUser {
        span.react-loading-skeleton {
          &.reviewer {
            @media only screen and (max-width: 93.75em) {
              width: 22rem !important;
            }

            @include xxl {
              width: 22rem !important;
            }

            @include xl {
              width: 20rem !important;
              height: 1.8rem !important;
            }

            @include xl {
              width: 18rem !important;
            }

            @media only screen and (max-width: 56.25em) {
              height: 2rem !important;
            }

            @media only screen and (max-width: 37.5em) {
              width: 15rem !important;
              height: 1.5rem !important;
            }

            @media only screen and (max-width: 26.8125em) {
              width: 13rem !important;
            }

            @media only screen and (max-width: 18.75em) {
              width: 10rem !important;
            }

            @media only screen and (min-width: 112.5em) {
              width: 19rem !important;
              height: 2rem !important;
            }
          }

          @media only screen and (max-width: 93.75em) {
            width: 76rem !important;
          }

          @include xxl {
            width: 72rem !important;
          }

          @include xl {
            width: 62rem !important;
            height: 1.8rem !important;
          }

          @include xl {
            width: 32rem !important;
          }

          @media only screen and (max-width: 56.25em) {
            width: 36rem !important;
            height: 2rem !important;
          }

          @media only screen and (max-width: 37.5em) {
            width: 41rem !important;
            height: 1.5rem !important;
          }

          @media only screen and (max-width: 26.8125em) {
            width: 33rem !important;
          }

          @media only screen and (max-width: 18.75em) {
            width: 22rem !important;
          }

          @media only screen and (min-width: 112.5em) {
            width: 69rem !important;
            height: 2rem !important;
          }
        }
      }
    }
  }
}
