.reviewCardSkeleton {
  background-color: #fdfdfd;
  border-radius: 0.5rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .reviewCardWrap {
    padding: 5.6rem 4rem 4rem 4rem;

    .reviewCardBox {
      display: flex;
      align-items: center;
      gap: 2.8rem;
      position: relative;

      .reviewCardRating {
        position: absolute;
        top: -2.6rem;
        right: -1.6rem;
      }

      .reviewCardUser {
      }
    }
  }
}
