@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.cartCard {
  .cardHeader {
    font-weight: 700;
    font-size: 1.3rem;
    padding: 2rem;
    color: $clr-black;

    @media only screen and (min-width: 112.5em) {
      font-size: 1.66667rem;
    }

    &.empty {
      text-align: center;
    }
  }

  hr {
    height: 0;
    border: 1px solid $line;
  }

  .cardProductBox {
    display: flex;
    flex-direction: column;
    min-width: 25rem;

    .productBox {
      display: flex;
      justify-content: space-between;
      gap: 0.8rem;
      padding: 2rem;
      color: $clr-gray-light;
      border-top: 1px solid $line;

      .quantity {
        font-weight: 500;
        font-size: 1.3rem;

        @media only screen and (min-width: 112.5em) {
          font-size: 1.6rem;
        }
      }

      .cardItem {
        display: inline-block;
        width: 15rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 1.3rem;
        color: $clr-primary;
        overflow: hidden;
        cursor: pointer;

        @media only screen and (min-width: 112.5em) {
          font-size: 1.6rem;
        }
      }

      .cardButtons {
        display: flex;
        align-items: center;
        color: $clr-gray-dark;

        button {
          display: inline-block;
          border: none;
          outline: none;
          background-color: transparent;
          color: inherit;
          cursor: pointer;

          &:disabled {
            color: $clr-gray-light;
            opacity: 0.7;
          }

          img {
            display: block;
            width: 1.3rem;
            height: 1.6rem;
            object-fit: cover;
            opacity: 0.8;

            @media only screen and (min-width: 112.5em) {
              width: 1.6rem;
              height: 1.9rem;
            }
          }
        }
      }

      .deleteBtn {
        svg {
          font-size: 1.3rem;
          fill: $clr-gray-light;
          cursor: pointer;

          @media only screen and (min-width: 112.5em) {
            font-size: 1.6rem;
          }
        }
      }

      .price {
        font-weight: 400;
        font-size: 1.3rem;
        font-variant: tabular-nums;
        color: $clr-gray-light;
        white-space: nowrap;

        @media only screen and (min-width: 112.5em) {
          font-size: 1.6rem;
        }
      }
    }
  }

  .itemTotal {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;
    margin-bottom: 1.6rem;

    .subTotal,
    .subTotalPrice {
      font-weight: 600;
      font-size: 1.3rem;
      color: $clr-gray-dark;

      @media only screen and (min-width: 112.5em) {
        font-size: 1.6rem;
      }
    }

    .subTotalPrice {
      font-variant: tabular-nums;
    }
  }

  .checkoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    width: 100%;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1rem;
    background-color: $clr-green;
    color: $clr-white !important;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;

    @media only screen and (min-width: 112.5em) {
      font-size: 1.6rem;
    }

    &:hover {
      background-color: $clr-white !important;
      color: $clr-primary !important;
      border-color: currentColor;
    }

    &:disabled {
      opacity: 0.7;
      cursor: default;
    }
  }

  .cartFooter {
    margin-top: 1.6rem;

    .cartBtn {
      display: flex;
      align-items: center;
      justify-content: center;

      outline: none;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.3rem;
      padding: 1rem;
      background-color: $clr-secondary;
      color: $clr-white !important;
      border: 1px solid transparent;
      border-radius: 0.5rem;
      transition: all 0.3s ease-in-out;

      @media only screen and (min-width: 112.5em) {
        font-size: 1.6rem;
      }

      &:hover {
        background-color: $clr-white !important;
        color: $clr-secondary !important;
        border-color: currentColor;
      }

      &:disabled {
        opacity: 0.7;
        cursor: default;
      }
    }
  }
}
