@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.newProduct {
  position: absolute;
  top: 2rem;
  right: 2rem;

  button {
    all: unset;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1.2rem 1rem;
    background-color: transparent;
    color: $clr-secondary;
    border: 1px solid currentColor;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include xl {
      font-size: 1.44445rem;
    }

    @media only screen and (min-width: 112.5em) {
      font-size: 1.6rem;
    }

    &:hover {
      background-color: $clr-tertiary;
    }

    &:disabled {
      opacity: 0.7;
      cursor: default;
    }

    img {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      object-fit: cover;

      @include xl {
        width: 1.667rem;
        height: 1.667rem;
      }

      @media only screen and (min-width: 112.5em) {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
