@import '../../styles/variables.scss';

.newProduct {
  position: absolute;
  top: 2rem;
  right: 2rem;

  button {
    all: unset;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: $clr-secondary;
    border: 1px solid currentColor;
    border-radius: 0.5rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
