@import '../../styles/variables.scss';

.menuCard {
  width: 30rem;

  a,
  a:link,
  a:active {
    color: inherit;

    .imgWrapper {
      width: 30rem;
      height: 27rem;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cardFooter {
      min-height: 11.7rem;
      text-align: center;
      padding: 2.3rem 0 1.4rem;
      background-color: $clr-tertiary;

      .heading {
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        font-weight: 600;
        font-size: 1.4rem;
        color: inherit;
        line-height: 1.5;
        transition: all 0.3s;

        &:hover {
          color: $clr-secondary;
        }
      }

      .price {
        font-weight: 600;
        font-size: 1.8rem;
        color: $clr-secondary;
      }
    }
  }
}
