@import '../../styles/variables.scss';

.productCart {
  flex: 1;

  .detailBox {
    width: 100%;
    background-color: $clr-white;
    position: relative;
    -webkit-box-shadow: 0 0 0 1px rgba(67, 41, 163, 0.08),
      0 1px 5px 0 rgba(67, 41, 163, 0.08);
    box-shadow: 0 0 0 1px rgba(67, 41, 163, 0.08),
      0 1px 5px 0 rgba(67, 41, 163, 0.08);
    border-radius: 3px;

    .cardWrap {
      .cardHeading {
      }

      .cardBody {
        .catProduct {
          .cardBox {
            .cardProductBox {
              .cardProduct {
                .cardName {
                  a,
                  a:link,
                  a:active {
                    p {
                      span {
                      }
                    }
                  }
                }

                .deleteCardBtn {
                  svg {
                  }
                }

                .cardPrice {
                }
              }
            }
          }
        }
      }

      .cardFooter {
        button {
        }
      }
    }
  }
}
