@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.productCart {
  flex: 1;
  padding-left: 1.2rem;
  position: sticky;
  top: 0;
  width: 100%;
  max-height: 47.292rem;
  height: max-content;

  @media only screen and (max-width: 51.25em) {
    padding: 0;
  }

  &.emptyProductCart {
    @media only screen and (max-width: 26.8125em) {
      padding: 0 1.5rem;
    }

    @media only screen and (max-width: 22.5em) {
      padding: 0 1rem;
    }

    @media only screen and (max-width: 17.5em) {
      width: 100%;
    }
  }

  .detailBox {
    width: 100%;
    background-color: $clr-white;
    position: relative;
    -webkit-box-shadow: $box;
    box-shadow: $box;
    border-radius: 3px;

    .cardWrap {
      border: none;

      .cardHeading {
        font-weight: 700;
        padding: 1.5rem;
        background-color: inherit;
        color: inherit;
        border-bottom: 1px solid $line;
        position: relative;

        @include xl {
          font-size: 1.77778rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 2rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-weight: 600;
          font-size: 2rem;
        }

        &.emptyCardHeading {
          &::after {
            @include md {
              width: 70%;
            }

            @include sm {
              width: 65%;
            }
          }
        }

        &::after {
          display: block;
          content: '';
          width: 63%;
          height: 1px;
          padding: 1px 0;
          border-top: 1px solid $line;
          border-bottom: 1px solid $line;

          position: absolute;
          top: 50%;
          right: 1.5rem;
          transform: translateY(-50%);

          @include md {
            width: 80%;
          }

          @include sm {
            width: 65%;
          }

          @media only screen and (max-width: 21.25em) {
            width: 60%;
          }

          @media only screen and (min-width: 112.5em) {
            width: 58%;
          }
        }
      }

      .cardFooter {
        position: relative;
        padding: 1.5rem;
        border-top: 1px solid $line;

        display: flex;
        align-items: center;
        justify-content: center;

        &.show {
          display: flex;
          visibility: visible;
          opacity: 1;
          z-index: 1000;
        }

        &.hide {
          display: none;
          visibility: hidden;
          opacity: 0;
          z-index: -1;
        }

        a,
        a:link,
        a:active {
          text-align: center;
          vertical-align: middle;
          user-select: none;
          font-weight: 500;
          font-size: 1.3rem;
          width: 100%;
          padding: 0.6rem 1.6rem 0.5rem;
          background-color: $clr-green;
          color: $clr-white;
          border: 1px solid transparent;
          line-height: 1.595;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          @include xl {
            font-size: 1.44445rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.625rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.6rem;
          }

          &:hover {
            background-color: $clr-white;
            color: $clr-primary;
            border-color: $clr-primary;
          }

          &:disabled {
            opacity: 0.7;
            cursor: default;
          }
        }
      }
    }
  }
}
