@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.productCart {
  flex: 1;
  padding-left: 1.2rem;
  position: sticky;
  top: 0;
  width: 100%;
  max-height: 47.292rem;
  height: max-content;

  @include md {
    padding: 0 1.5rem;
  }

  @media only screen and (max-width: 26.8125em) {
    padding: 0 3rem;
  }

  .detailBox {
    width: 100%;
    background-color: $clr-white;
    position: relative;
    -webkit-box-shadow: $box;
    box-shadow: $box;
    border-radius: 3px;

    .cardWrap {
      border: none;

      .cardHeading {
        font-weight: 700;
        padding: 1.5rem;
        background-color: inherit;
        color: inherit;
        border-bottom: 1px solid $line;
        position: relative;

        @include lg {
          font-size: 1.67rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 1.88rem;
        }

        &::after {
          display: block;
          content: '';
          width: 63%;
          height: 1px;
          padding: 1px 0;
          border-top: 1px solid $line;
          border-bottom: 1px solid $line;

          position: absolute;
          top: 50%;
          right: 1.5rem;
          transform: translateY(-50%);

          @include md {
            width: 80%;
          }

          @include sm {
            width: 70%;
          }
        }
      }

      .emptyCart {
        height: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        .emptyHeading {
          text-align: center;
          font-weight: 600;
          font-size: 1.3rem;
          color: inherit;
        }

        .emptyLink {
          a,
          a:link,
          a:active {
            text-transform: capitalize;
            font-weight: 500;
            font-size: 1.3rem;
            padding: 0.8rem 2.4rem;
            background-color: transparent;
            color: $clr-primary;
            border: 1px solid currentColor;
            border-radius: 0.5rem;

            &:visited {
              color: $clr-primary;
            }

            &:hover {
              color: #dc3545;
            }
          }
        }
      }

      .cardBody {
        height: 35rem;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 0.6rem;
        }

        &::-webkit-scrollbar-track {
          background-color: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $clr-primary;
          background-clip: content-box;
          box-shadow: inset 0;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: $clr-secondary;
        }

        .catProduct {
          padding: 1.5rem;
          border-bottom: 1px solid $line;

          .cardBox {
            .cardProductWrap {
              width: 100%;

              .cardProduct {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: -1rem;

                .cardName {
                  flex: 3;

                  white-space: nowrap;
                  text-overflow: ellipsis;
                  font-weight: 700;
                  font-size: 1rem;
                  padding: 1.5rem;
                  padding-left: 0;
                  overflow: hidden;

                  p {
                    font-size: 1.3rem;
                    text-transform: capitalize;
                    text-overflow: ellipsis;
                    color: $clr-primary;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-top: 0;
                    margin-bottom: 0;
                    transition: all 0.3s;

                    @include lg {
                      font-size: 1.45rem;
                    }

                    @media only screen and (max-width: 56.25em) {
                      font-size: 1.625rem;
                    }

                    @media only screen and (max-width: 23.4375em) {
                      font-size: 1.45rem;
                    }

                    &:hover {
                      color: #bc2634;
                    }

                    span {
                      font-weight: 500;
                      font-size: 1.3rem;
                      color: #00000059;
                      margin-right: 1rem;

                      @include lg {
                        font-size: 1.45rem;
                      }
                    }

                    a,
                    a:link,
                    a:visited {
                      color: currentColor;
                      transition: all 0.3s;

                      &:hover {
                        color: #bc2634;
                      }
                    }
                  }
                }

                .cardButtons {
                  flex: 1;

                  display: flex;
                  align-items: center;
                  color: $clr-gray-dark;

                  button {
                    all: unset;
                    display: inline-block;
                    background-color: transparent;
                    color: inherit;
                    cursor: pointer;

                    &:disabled {
                      color: $clr-gray-light;
                    }

                    img {
                      display: block;
                      width: 1.3rem;
                      height: 1.6rem;
                      object-fit: cover;
                      opacity: 0.8;

                      @include lg {
                        width: 1.45rem;
                        height: 1.67rem;
                      }

                      @include md {
                        width: 1.63rem;
                        height: 2.13rem;
                      }
                    }
                  }
                }

                .deleteCardBtn {
                  all: unset;
                  display: inline-block;
                  color: #00000059;
                  margin-right: 2rem;
                  opacity: 0.6;
                  cursor: pointer;
                  transition: all 0.3s;

                  &:hover {
                    color: #bc2634;
                    opacity: 1;
                  }

                  svg {
                    font-size: 1.3rem;
                    fill: currentColor;

                    @include lg {
                      font-size: 1.45rem;
                    }

                    @include md {
                      font-size: 1.63rem;
                    }
                  }
                }

                .cardPrice {
                  flex: 0.25;

                  font-weight: 500;
                  font-size: 1.3rem;
                  font-variant: tabular-nums;
                  color: #00000059;
                  transition: all 0.3s;

                  @include lg {
                    font-size: 1.45rem;
                  }

                  @media only screen and (max-width: 56.25em) {
                    font-size: 1.625rem;
                  }

                  @media only screen and (max-width: 23.4375em) {
                    font-size: 1.45rem;
                  }

                  &:hover {
                    color: #bc2634;
                  }
                }
              }
            }
          }
        }
      }

      .cardFooter {
        padding: 1.5rem;
        border-top: 1px solid $line;

        display: flex;
        align-items: center;
        justify-content: center;

        a,
        a:link,
        a:active {
          text-align: center;
          vertical-align: middle;
          user-select: none;
          font-weight: 500;
          font-size: 1.3rem;
          width: 100%;
          padding: 0.6rem 1.6rem 0.5rem;
          background-color: $clr-green;
          color: $clr-white;
          border: 1px solid transparent;
          line-height: 1.595;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          @include lg {
            font-size: 1.45rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.625rem;
          }

          @media only screen and (max-width: 23.4375em) {
            font-size: 1.45rem;
          }

          &:hover {
            background-color: $clr-white;
            color: $clr-primary;
            border-color: $clr-primary;
          }

          &:disabled {
            opacity: 0.7;
            cursor: default;
          }
        }
      }
    }
  }
}
