@import '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';

.payment {
  display: flex;
  justify-content: center;

  .container {
    width: 80rem;
    padding: 8rem 0;

    form {
      button {
        display: inline-block;
        all: unset;
        text-align: center;
        font-size: 1.35rem;
        width: 100%;
        padding: 1.2rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
