@import '../../styles/variables.scss';

.cartCard {
  .cardHeader {
    font-weight: 700;
    font-size: 1.3rem;
    padding: 1.5rem;
    color: $clr-black;

    &.empty {
      text-align: center;
    }
  }

  hr {
    height: 0;
    border: 1px solid $line;
  }

  .cardProductBox {
    display: flex;
    flex-direction: column;
    min-width: 25rem;

    .productBox {
      display: flex;
      justify-content: space-between;
      gap: 0.8rem;
      padding: 1.5rem;
      color: $clr-gray-light;
      border-top: 1px solid $line;

      .quantity {
        font-weight: 700;
      }

      .cardItem {
        display: inline-block;
        width: 15rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 1.3rem;
        color: $clr-primary;
        overflow: hidden;
      }

      .cardButtons {
        display: flex;
        align-items: center;
        color: $clr-gray-dark;
        margin-top: -3px;

        button {
          display: inline-block;
          border: none;
          outline: none;
          background-color: transparent;
          color: inherit;
          cursor: pointer;

          &:disabled {
            color: $clr-gray-light;
            opacity: 0.7;
          }

          img {
            display: block;
            width: 1.7rem;
            height: 1.7rem;
            object-fit: cover;
          }
        }
      }

      .deleteBtn {
        margin-top: -3px;

        svg {
          font-size: var(--default-font-size);
          fill: $clr-gray-light;
          cursor: pointer;
        }
      }

      .price {
        font-weight: 500;
        font-size: 1.3rem;
        color: $clr-gray-light;
        white-space: nowrap;
      }
    }
  }

  .itemTotal {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;
    margin-bottom: 1rem;

    span.subTotal,
    span {
      font-weight: 900;
      font-size: 1.3rem;
      color: $clr-gray-dark;
    }
  }

  .checkoutBtn {
    border: none;
    outline: none;
    width: 100%;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 0.5rem;
    background: $clr-green;
    color: $clr-white !important;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
  }

  .cartFooter {
    margin-top: 1rem;

    .cartBtn {
      outline: none;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.3rem;
      padding: 1rem;
      background: $clr-secondary;
      color: $clr-white !important;
      border-radius: 0.5rem;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
