@import '../../styles/variables.scss';

.formGroup {
  display: flex;
  flex-direction: column;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  label {
    display: inline-block;
    width: 15rem;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5rem;
  }

  input {
    display: inline-block;
    border: none;
    outline: none;
    appearance: none;
    font-family: inherit;
    font-size: var(--default-font-size);
    width: 100%;
    height: 100%;
    padding: 1.5rem 2rem;
    background-color: transparent;
    color: $clr-gray-dark;
    border-radius: 0.5rem;
    box-shadow: inset $box-shadow;
    caret-color: $clr-gray-light;

    &::placeholder {
      font-weight: 400;
      font-size: 1.5rem;
      color: $clr-gray-light;
    }
  }

  input[type='file'] {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .priceIcon {
    position: absolute;
    top: 4.35rem;
    left: 2rem;

    svg {
      font-size: 2.5rem;
      fill: $clr-gray-dark;
    }
  }

  .icon {
    position: absolute;
    top: 4.35rem;
    right: 2rem;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    cursor: pointer;

    &.show {
      display: inline-block;
      visibility: visible;
      opacity: 1;
      z-index: 999;
    }

    svg {
      font-size: 2rem;
      fill: $clr-gray-dark;
    }
  }

  .errorMessage {
    font-size: 1.3rem;
    color: $error;
  }
}
