@import '../../styles/variables.scss';

.checkout {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 8rem 0;

    .checkoutWrap {
      padding: 0 1.2rem;
      display: flex;
    }
  }
}
