@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.checkout {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 8rem 0;

    @include xxl {
      width: 120rem;
    }

    @include lg {
      width: 105rem;
    }

    @media only screen and (max-width: 59.375em) {
      width: 95rem;
    }

    @include md {
      width: 80rem;
      padding: 10rem 0;
    }

    @media only screen and (max-width: 43.75em) {
      width: 70rem;
    }

    @media only screen and (max-width: 37.5em) {
      width: 60rem;
    }

    @media only screen and (max-width: 31.25em) {
      width: 50rem;
    }

    @media only screen and (max-width: 26.25em) {
      width: 45rem;
    }

    @media only screen and (max-width: 25em) {
      width: 40rem;
    }

    @media only screen and (max-width: 21.5em) {
      width: 37rem;
    }

    @media only screen and (max-width: 18.75em) {
      width: 33rem;
    }

    @media only screen and (max-width: 17.5em) {
      width: 31rem;
    }

    .checkoutWrap {
      display: flex;
      gap: 3rem;

      @include md {
        flex-direction: column;
        gap: 7rem;
      }

      @media only screen and (max-width: 26.25em) {
        gap: 5rem;
      }
    }
  }
}
