@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.checkout {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 8rem 0;

    @include md {
      padding: 10rem 3rem;
    }

    .checkoutWrap {
      padding: 0 1.2rem;
      display: flex;

      @include md {
        padding: 0;
        flex-direction: column;
      }
    }
  }
}
