.genderSelect {
  display: flex;
  flex-direction: column;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  label {
    display: inline-block;
    width: 7rem;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5rem;
  }

  select {
    display: inline-block;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: var(--default-font-size);
  }
}
