.review {
  background-color: #fbfbfc;
  border-radius: 0.5rem;

  .reviewCard {
    padding: 5.6rem 4rem 4rem 4rem;

    .reviewWrapper {
      display: flex;
      align-items: center;
      gap: 2.8rem;

      .reviewImg {
        img {
        }
      }

      .reviewer {
        .reviewRating {
          .star {
            svg {
            }
          }
        }

        .reviewRating {
          .reviewerName {
          }

          .reviewerText {
          }
        }
      }
    }
  }
}
