.review {
  background-color: #fbfbfc;
  border-radius: 0.5rem;

  .reviewCard {
    padding: 5.6rem 4rem 4rem 4rem;

    .reviewWrapper {
      display: flex;
      align-items: center;
      gap: 2.8rem;

      .reviewImg {
        width: 8.7rem;
        height: 8.7rem;

        img {
          width: 100%;
          height: 100%;
          display: inline-block;
          object-fit: cover;
        }
      }

      .reviewer {
        .reviewRating {
          .star {
            svg {
            }
          }
        }

        .reviewRating {
          .reviewerName {
          }

          .reviewerText {
          }
        }
      }
    }
  }
}
