.review {
  background-color: #fbfbfc;
  border-radius: 0.5rem;

  .reviewCard {
    padding: 5.6rem 4rem 4rem 4rem;

    .reviewWrapper {
      display: flex;
      align-items: center;
      gap: 2.8rem;
      position: relative;

      .reviewImg {
        width: 8.7rem;
        height: 8.7rem;

        img {
          width: 100%;
          height: 100%;
          display: inline-block;
          object-fit: cover;
        }
      }

      .reviewRating {
        position: absolute;
        top: -2.6rem;
        right: -1.6rem;

        .star {
          svg {
          }
        }
      }

      .reviewer {
        .reviewRating {
          position: absolute;
          top: -2.6rem;
          right: -1.6rem;

          .reviewerName {
          }

          .reviewerText {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
