@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.deleteAccount {
  .deleteAccountText {
    font-size: 1.5rem;
    color: $clr-gray-dark;

    @media only screen and (max-width: 56.25em) {
      font-size: 1.55rem;
    }

    @media only screen and (min-width: 112.5em) {
      font-size: 1.85rem;
    }
  }
}
