@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.orderTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1.2rem 1.2rem;

  @media only screen and (max-width: 43.75em) {
    border-spacing: 0.5rem 0.5rem;
  }

  @media only screen and (max-width: 25em) {
    border-spacing: 3px 3px;
  }

  @media only screen and (max-width: 18.75em) {
    border-spacing: 1px 1px;
  }

  thead {
    tr {
      text-align: left;

      @media only screen and (max-width: 56.25em) {
        font-size: 1.65rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 2.2rem;
      }

      th {
        @media only screen and (max-width: 37.5em) {
          &:nth-child(2) {
            display: none;
          }
        }

        @include sm {
          &:nth-child(3) {
            display: none;
          }
        }

        &.products {
          @media only screen and (max-width: 18.75em) {
            display: none;
          }

          &.hide {
            @media only screen and (max-width: 25em) {
              display: none;
            }
          }
        }

        &.status {
          @media only screen and (max-width: 25em) {
            display: none;
          }

          @media only screen and (max-width: 18.75em) {
            display: block;
          }

          &.hide {
            @media only screen and (max-width: 25em) {
              display: block;
            }
          }
        }
      }
    }
  }

  tbody {
    tr {
      font-size: 1.4rem;
      line-height: 2rem;

      @media only screen and (max-width: 56.25em) {
        font-size: 1.45rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 2rem;
      }

      &.orderNotPaid {
        background-color: rgba(255, 99, 71, 0.25);
      }

      &.orderPreparing {
        background-color: $clr-tertiary;
      }

      &.orderOntheway {
        background-color: rgba(250, 175, 0, 0.25);
      }

      &.orderDelivered {
        background-color: rgba(40, 167, 69, 0.25);
      }

      td {
        padding: 2.4rem 4px;

        @media only screen and (max-width: 37.5em) {
          &:nth-child(2) {
            display: none;
          }
        }

        @include sm {
          &:nth-child(3) {
            display: none;
          }
        }

        @media only screen and (min-width: 112.5em) {
          padding: 3rem 1rem;
        }

        a,
        a:link,
        a:visited {
          text-transform: uppercase;
          color: inherit;
          transition: all 0.3s;

          &:hover {
            text-decoration: underline;
            text-underline-offset: 0.5rem;
          }
        }

        &.orderName {
          text-transform: capitalize;
          text-overflow: ellipsis;
          text-rendering: optimizeLegibility;
          white-space: nowrap;
          overflow: hidden;

          @media only screen and (max-width: 18.75em) {
            display: none;
          }

          &.hide {
            @media only screen and (max-width: 25em) {
              display: none;
            }
          }

          span {
            a,
            a:link,
            a:visited {
              text-transform: capitalize;
            }
          }
        }

        &.userStatus {
          @media only screen and (max-width: 25em) {
            display: none;
          }

          @media only screen and (max-width: 18.75em) {
            display: block;
          }
        }

        form {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.6rem;

          @include md {
            display: none;
          }

          @media only screen and (min-width: 112.5em) {
            justify-content: space-between;
            gap: 0;
          }

          input {
            display: inline-block;
            border: none;
            outline: none;
            font-family: inherit;
            font-size: 100%;
            padding: 0.8rem;
            background-color: $clr-white;
            color: $clr-gray-dark;
            border-radius: 0.5rem;
            caret-color: $clr-gray-light;

            @media only screen and (max-width: 56.25em) {
              font-size: 1.65rem;
            }

            @media only screen and (min-width: 112.5em) {
              font-size: 2.2rem;
            }

            &::placeholder {
              font-weight: 400;
              font-size: 1.5rem;
              color: $clr-gray-light;

              @media only screen and (max-width: 56.25em) {
                font-size: 1.55rem;
              }

              @media only screen and (min-width: 112.5em) {
                font-size: 2rem;
              }
            }
          }

          button {
            display: flex;
            align-items: center;
            justify-content: center;

            border: none;
            outline: none;
            width: 4rem;
            height: 3.7rem;
            padding: 1rem;
            background-color: $clr-primary;
            color: $clr-white;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.3s;

            @media only screen and (min-width: 112.5em) {
              padding: 2.45rem 3rem;
            }

            &:hover {
              background-color: $clr-secondary;
            }

            &:disabled {
              opacity: 0.7;
              cursor: default;
            }

            img {
              display: inline-block;
              width: 2rem;
              height: 2rem;
              object-fit: cover;

              @media only screen and (min-width: 112.5em) {
                width: 3rem;
                height: 3rem;
              }
            }
          }
        }

        .statusContainer {
          position: relative;

          button {
            all: unset;
            display: inline-block;
            cursor: pointer;

            position: absolute;
            top: -2rem;
            right: -0.5rem;

            &:disabled {
              opacity: 0.7;
              cursor: default;
            }

            img {
              display: inline-block;
              width: 1.75rem;
              height: 1.75rem;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
