@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.orderTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1.2rem 1.2rem;

  thead {
    tr {
      text-align: left;

      @media only screen and (max-width: 112.5em) {
        font-size: 2rem;
      }
    }
  }

  tbody {
    tr {
      font-size: 1.4rem;
      line-height: 2rem;

      @media only screen and (max-width: 112.5em) {
        font-size: 1.83333rem;
      }

      &.orderStatus {
        background-color: $clr-tertiary;
      }

      &.orderDelivered {
        background-color: rgba(40, 167, 69, 0.1);
      }

      td {
        padding: 2.4rem 4px;

        a,
        a:link,
        a:visited {
          color: inherit;
        }

        &.orderName {
          text-transform: capitalize;
        }

        form {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.6rem;

          input {
            display: inline-block;
            border: none;
            outline: none;
            font-family: inherit;
            font-size: 100%;
            padding: 0.8rem;
            background-color: $clr-white;
            color: $clr-gray-dark;
            border-radius: 0.5rem;
            cursor: $clr-gray-light;

            @media only screen and (max-width: 112.5em) {
              font-size: 2rem;
            }

            &::placeholder {
              font-weight: 400;
              font-size: 1.5rem;
              color: $clr-gray-light;

              @media only screen and (max-width: 112.5em) {
                font-size: 1.8rem;
              }
            }
          }

          button {
            all: unset;
            display: inline-block;
            padding: 0.5rem 0.8rem;
            background-color: $clr-primary;
            color: $clr-white;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.3s;

            @media only screen and (max-width: 112.5em) {
              padding: 1rem 1.5rem;
            }

            &:hover {
              background-color: $clr-secondary;
            }

            img {
              display: inline-block;
              width: 2rem;
              height: 2rem;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
