@import '../../styles/responsive.scss';

.loginBtn,
.registerBtn,
.googleBtn {
  all: unset;
  text-align: center;
  font-size: 1.35rem;
  width: 100%;
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  @include lg {
    font-size: 1.45rem;
  }

  @media only screen and (max-width: 56.25em) {
    font-size: 1.56rem;
  }

  @include md {
    font-size: 1.625rem;
  }

  @media only screen and (min-width: 112.5em) {
    font-size: 1.66667rem;
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }
}

.loginBtn,
.registerBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: capitalize;
  background-color: $clr-primary;
  color: $clr-white;
  transition: all 0.3s;

  &:hover {
    background-color: $clr-secondary;
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }
}

.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  -webkit-box-shadow: inset $box-shadow;
  box-shadow: inset $box-shadow;
  transition: all 0.3s;

  &:hover {
    background-color: $clr-tertiary;
    color: $clr-secondary;
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    object-fit: cover;

    @include lg {
      width: 1.67rem;
      height: 1.67rem;
    }

    @include md {
      width: 1.875rem;
      height: 1.875rem;
    }
  }
}
