@import '../../styles/responsive.scss';

.loginBtn,
.registerBtn,
.googleBtn {
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.35rem;
  width: 100%;
  height: 5rem;
  padding: 1.4rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  @media only screen and (max-width: 56.25em) {
    font-size: 1.4rem;
  }

  @media only screen and (min-width: 112.5em) {
    height: 6rem;
    font-size: 1.8rem;
    padding: 1.7rem 1rem;
  }

  @media only screen and (min-width: 125em) {
    height: 7rem;
    font-size: 2rem;
    padding: 2rem 1rem;
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }
}

.loginBtn,
.registerBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: capitalize;
  background-color: $clr-primary;
  color: $clr-white;
  transition: all 0.3s;

  &:hover {
    background-color: $clr-secondary;
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }
}

.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: transparent;
  -webkit-box-shadow: inset $box-shadow;
  box-shadow: inset $box-shadow;
  transition: all 0.3s;

  &:hover {
    background-color: $clr-tertiary;
    color: $clr-secondary;
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    object-fit: cover;

    @media only screen and (max-width: 56.25em) {
      width: 1.55rem;
      height: 1.55rem;
    }

    @media only screen and (min-width: 112.5em) {
      width: 2rem;
      height: 2rem;
    }

    @media only screen and (min-width: 125em) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
