.loginBtn,
.registerBtn,
.googleBtn {
  all: unset;
  text-align: center;
  font-size: 1.35rem;
  width: 100%;
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  @media only screen and (max-width: 23.4375em) {
    font-size: 1.25rem;
    padding: 1rem 0.5rem;
  }

  @media only screen and (max-width: 17.5em) {
    font-size: 1.11rem;
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }
}

.loginBtn,
.registerBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: capitalize;
  background-color: $clr-primary;
  color: $clr-white;
  transition: all 0.3s;

  &:hover {
    background-color: $clr-secondary;
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }
}

.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  -webkit-box-shadow: inset $box-shadow;
  box-shadow: inset $box-shadow;
  transition: all 0.3s;

  &:hover {
    background-color: $clr-tertiary;
    color: $clr-secondary;
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    object-fit: cover;

    @media only screen and (max-width: 23.4375em) {
      width: 1.25rem;
      height: 1.25rem;
    }

    @media only screen and (max-width: 17.5em) {
      display: none;
    }
  }
}
