@import '../../styles/animations.scss';
@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.scrollTop {
  position: fixed;
  right: 3.5rem;
  bottom: 0;
  text-align: center;
  line-height: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  animation: moveInBottom 0.5s ease-out 1s backwards;

  @include md {
    width: 5rem;
    height: 5rem;
  }

  &.show {
    bottom: 7.5rem;
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }

  button {
    all: unset;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    background-color: $clr-primary;
    color: $clr-white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $clr-secondary;
    }

    svg {
      font-size: inherit;
      fill: currentColor;

      @include md {
        font-size: 4rem;
      }
    }
  }
}
