@import '../../styles/variables.scss';

.scrollTop {
  position: fixed;
  right: 3.5rem;
  bottom: 0;
  display: block;
  text-align: center;
  line-height: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  z-index: 1000;

  button {
    all: unset;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $clr-primary;
    color: $clr-white;
    border-radius: 1px;
    cursor: pointer;
  }
}
