@import '../../styles/animations.scss';
@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.dropzone {
  margin-top: 2rem;
  margin-bottom: 1rem;

  &.small {
    margin-top: 4px;
  }

  label {
    display: inline-block;
    width: 7rem;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5rem;

    @include lg {
      font-size: 1.67rem;
    }

    @media only screen and (max-width: 56.25em) {
      font-size: 1.875rem;
    }

    @media only screen and (max-width: 23.4375em) {
      font-size: 1.675rem;
    }
  }

  .dropzoneBox {
    width: 100%;
    height: 14rem;
    border: 2px dashed $line;
    border-radius: 0.5rem;
    cursor: pointer;
    animation: pulse 2s linear infinite;

    .dropzoneWrap {
      width: 100%;
      height: 100%;
      outline: none;

      display: flex;
      align-items: center;
      justify-content: center;

      p {
        text-align: center;
        font-size: 1.5rem;
        color: $clr-gray-dark;

        @include lg {
          font-size: 1.67rem;
        }

        @media only screen and (max-width: 23.4375em) {
          font-size: 1.3rem;
        }

        @media only screen and (max-width: 17.5em) {
          font-size: 1.15rem;
        }
      }
    }
  }
}
