@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.formReview {
  .ratingWrap {
    margin-bottom: 2rem;

    .ratingBox {
      display: flex;
      gap: 1rem;

      .ratingLabel {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.3rem;
        color: $clr-gray-dark;
        line-height: 2rem;

        @include lg {
          font-size: 1.45rem;
        }
      }

      .formRating {
        display: flex;
        align-items: baseline;

        svg {
          font-size: 1.7rem;
          fill: $star;

          @include lg {
            font-size: 1.9rem;
          }
        }
      }
    }
  }

  input.formControl,
  textarea {
    display: inline-block;
    border: none;
    outline: none;
    appearance: none;
    font-family: inherit;
    font-size: var(--default-font-size);
    padding: 1rem 2rem;
    background-color: #fbfbfc;
    color: $clr-gray-dark;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    caret-color: $clr-gray-light;
    transition: all 0.3s;

    @include lg {
      font-size: 1.7rem;
    }

    @media only screen and (max-width: 56.25em) {
      font-size: 1.85rem;
    }

    @include md {
      font-size: 1.975rem;
    }

    &:focus {
      border: 1px solid $line;
    }

    &::placeholder {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.3rem;
      color: $clr-gray-light;

      @include md {
        font-size: 1.875rem;
      }

      @media only screen and (max-width: 23.4375em) {
        font-size: 1.675rem;
      }
    }
  }

  textarea {
    width: 78.2rem;
    width: 100%;
    height: 10.7rem;
    resize: none;
  }

  .inputWrap {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1.6rem 0;

    .inputBox {
      width: 100%;

      input.formControl {
        width: 100%;
      }
    }
  }

  .consent {
    font-size: 1.35rem;
    margin-bottom: 1rem;

    p {
      font-size: 100%;
    }

    .toggle {
      display: flex;
      align-items: center;
      gap: 1rem;

      label {
        display: inline-block;
        font-size: 100%;
        color: inherit;
        cursor: pointer;

        @include lg {
          font-size: 1.45rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 1.625rem;
        }

        @media only screen and (max-width: 23.4375em) {
          font-size: 1.45rem;
        }
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 4rem;
        height: 2.25rem;

        input {
          width: 0;
          height: 0;
          opacity: 0;
        }
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $clr-gray-light;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        border-radius: 2.4rem;

        &::before {
          display: inline-block;
          content: '';
          width: 1.5rem;
          height: 1.5rem;
          background-color: $clr-white;
          border-radius: 50%;
          position: absolute;
          left: 4px;
          bottom: 4px;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
      }

      input:checked + .slider {
        background-color: #2196f3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }

      input:checked + .slider::before {
        -webkit-transform: translateX(1.7rem);
        -ms-transform: translateX(1.7rem);
        transform: translateX(1.7rem);
      }
    }
  }

  button {
    all: unset;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.3rem;
    width: 20rem;
    max-width: 20rem;
    height: 5rem;
    line-height: 2.34rem;
    background-color: $clr-black;
    color: $clr-white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: $clr-secondary;
    }

    &:disabled {
      opacity: 0.7;
      cursor: default;
    }
  }
}
