@import '../../styles/responsive.scss';

.productReview {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  background-color: #fbfbfc;

  .container {
    width: 144rem;
    padding: 0 3rem;

    display: flex;
    justify-content: space-between;
    padding: 1.2rem;

    @include md {
      flex-direction: column;
      gap: 7rem;
    }
  }
}
