@import '../../styles/responsive.scss';

.productReview {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  background-color: #fbfbfc;

  .container {
    width: 144rem;

    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @media only screen and (max-width: 93.75em) {
      width: 134rem;
    }

    @include xxl {
      width: 124rem;
    }

    @media only screen and (max-width: 81.25em) {
      width: 120rem;
    }

    @media only screen and (max-width: 68.75em) {
      width: 114rem;
    }

    @media only screen and (max-width: 65.625em) {
      width: 110rem;
    }

    @include lg {
      padding: 1.2rem 5rem;
    }

    @media only screen and (max-width: 57em) {
      padding: 1.2rem 3rem;
    }

    @media only screen and (max-width: 53.125em) {
      width: 90rem;
      padding: 0;
      flex-direction: column;
      gap: 7rem;
    }

    @include md {
      width: 80rem;
    }

    @media only screen and (max-width: 43.75em) {
      width: 75rem;
    }

    @media only screen and (max-width: 39.375em) {
      width: 70rem;
    }

    @media only screen and (max-width: 37.5em) {
      width: 65rem;
    }

    @media only screen and (max-width: 34.375em) {
      width: 60rem;
    }

    @media only screen and (max-width: 31.25em) {
      width: 55rem;
    }

    @media only screen and (max-width: 29.375em) {
      width: 50rem;
      gap: 5rem;
    }

    @media only screen and (max-width: 25.875em) {
      width: 45rem;
    }

    @media only screen and (max-width: 23.4375em) {
      width: 42rem;
    }

    @media only screen and (max-width: 21.5em) {
      width: 40rem;
    }

    @media only screen and (max-width: 20.625em) {
      width: 35rem;
    }

    @media only screen and (max-width: 17.5em) {
      width: 32rem;
    }

    @media only screen and (min-width: 112.5em) {
      width: 135rem;
    }

    @media only screen and (min-width: 125em) {
      width: 150rem;
    }
  }
}
