@import '../../styles/responsive.scss';

.productReview {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  background-color: #fbfbfc;

  .container {
    width: 144rem;
    padding: 1.2rem;

    display: flex;
    justify-content: space-between;

    @include lg {
      padding: 1.2rem 5rem;
    }

    @media only screen and (max-width: 57em) {
      padding: 1.2rem 3rem;
    }

    @include md {
      flex-direction: column;
      gap: 7rem;
      padding: 1.2rem;
    }

    @media only screen and (max-width: 18.75em) {
      padding: 1.2rem 51rem;
    }

    @media only screen and (max-width: 17.5em) {
      padding: 1.2rem 51.5rem;
    }
  }
}
