@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.errorMessage {
  font-size: 1.3rem;
  color: $error;

  @include lg {
    font-size: 1.44445rem;
  }

  @media only screen and (max-width: 56.25em) {
    font-size: 1.625rem;
  }

  @media only screen and (min-width: 112.5em) {
    font-size: 1.66667rem;
  }
}
