@import '../../styles/responsive.scss';

.productCardSkeleton {
  outline: none;

  .skeletonImgWrap {
    span.react-loading-skeleton {
      width: 30rem !important;
      height: 27rem !important;

      @media only screen and (min-width: 112.5em) {
        width: 35rem !important;
        height: 22.5rem !important;
      }
    }
  }

  .skeletonFooter {
    min-height: 11.7rem;
    text-align: center;
    padding: 2.3rem 0 1.4rem;
    background-color: #fdfdfd;

    .react-loading-skeleton {
      width: 80%;
    }
  }
}
