@import '../../styles/responsive.scss';

.productCardSkeleton {
  outline: none;

  .skeletonImgWrap {
    span.react-loading-skeleton {
      width: 30rem !important;
      height: 27rem !important;

      @include lg {
        width: 27rem !important;
        height: 23rem !important;
      }

      @media only screen and (max-width: 57.5em) {
        width: 25rem !important;
        height: 20rem !important;
      }

      @include md {
        width: 30rem !important;
        height: 25rem !important;
      }

      @media only screen and (max-width: 37.5em) {
        width: 26rem !important;
        height: 21rem !important;
      }

      @media only screen and (max-width: 34.375em) {
        width: 25rem !important;
        height: 20rem !important;
      }

      @include sm {
        width: 23rem !important;
        height: 18rem !important;
      }

      @media only screen and (max-width: 26.875em) {
        width: 21rem !important;
        height: 17rem !important;
      }

      @media only screen and (max-width: 24.375em) {
        width: 18rem !important;
        height: 15rem !important;
      }

      @media only screen and (max-width: 21.5em) {
        width: 23rem !important;
        height: 17rem !important;
      }

      @media only screen and (min-width: 112.5em) {
        width: 36rem !important;
        height: 30rem !important;
      }

      @media only screen and (min-width: 125em) {
        width: 40rem !important;
        height: 37rem !important;
      }
    }
  }

  .skeletonFooter {
    min-height: 11.7rem;
    text-align: center;
    padding: 2.3rem 0 1.4rem;
    background-color: #fdfdfd;

    @media only screen and (max-width: 34.375em) {
      min-height: 14rem;
    }

    @media only screen and (min-width: 112.5em) {
      min-height: 17rem;
      padding: 2.5rem 0 1.66667rem;
    }

    span.react-loading-skeleton {
      width: 80%;
    }
  }
}
