@import '../../styles/responsive.scss';

.productCardSkeleton {
  outline: none;

  .skeletonImgWrap {
    span.react-loading-skeleton {
      width: 30rem !important;
      height: 27rem !important;

      @media only screen and (max-width: 68.75em) {
        width: 33.335rem !important;
        height: 30rem !important;
      }

      @include md {
        width: 33rem !important;
        height: 30rem !important;
      }

      @media only screen and (max-width: 36.4375em) {
        width: 23rem !important;
      }

      @media only screen and (max-width: 35em) {
        width: 18rem !important;
      }

      @include sm {
        width: 30rem !important;
        height: 27rem !important;
      }

      @media only screen and (max-width: 26.875em) {
        width: 35rem !important;
        height: 23rem !important;
      }

      @media only screen and (max-width: 18.75em) {
        width: 28rem !important;
        height: 20rem !important;
      }

      @media only screen and (min-width: 112.5em) {
        width: 35rem !important;
        height: 22.5rem !important;
      }
    }
  }

  .skeletonFooter {
    min-height: 11.7rem;
    text-align: center;
    padding: 2.3rem 0 1.4rem;
    background-color: #fdfdfd;

    span.react-loading-skeleton {
      width: 80%;
    }
  }
}
