@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.authInfo {
  line-height: 1.2;

  p {
    font-size: 1.35rem;
    color: $clr-gray-dark;

    @include lg {
      font-size: 1.445rem;
    }

    @media only screen and (max-width: 56.25em) {
      font-size: 1.625rem;
    }

    @media only screen and (min-width: 112.5em) {
      font-size: 1.66667rem;
    }

    a,
    a:link,
    a:active {
      text-transform: capitalize;
      color: $clr-primary;
      transition: all 0.3s;

      &:visited {
        color: $clr-primary;
      }

      &:hover {
        color: $clr-secondary;
      }
    }
  }
}
