@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.hero {
  width: 100vw;
  height: 70vh;
  background-image: url(/img/slider_bg3.jpg);
  background-color: #f7f7f7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media only screen and (max-width: 31.25em) {
    height: 60vh;
  }

  @include sm {
    height: 50vh;
  }

  @media only screen and (max-width: 25em) {
    height: 45vh;
  }

  .headingWrap {
    width: 100%;
    height: 100%;
    color: $clr-white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .heroHeading {
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 5.8rem;
      line-height: normal;

      @media only screen and (max-width: 50em) {
        font-size: 5rem;
      }

      @include md {
        font-size: 4.45rem;
        line-height: 1.4;
      }

      @media only screen and (max-width: 37.5em) {
        font-size: 4rem;
      }

      @media only screen and (max-width: 33.75em) {
        font-size: 3.7rem;
      }

      @media only screen and (max-width: 31.25em) {
        font-size: 3.5rem;
      }

      @include sm {
        font-size: 3rem;
      }

      @media only screen and (max-width: 25.875em) {
        font-size: 2.8rem;
      }

      @media only screen and (max-width: 25em) {
        font-size: 2.5rem;
      }

      @media only screen and (max-width: 18.75em) {
        font-size: 2rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 6rem;
      }
    }

    .heroSubHeading {
      display: table;
      text-align: center;
      font-size: var(--default-font-size);
      color: $clr-white;
      line-height: 0;
      letter-spacing: 3.5px;
      margin: 1.2rem auto 0;

      @include lg {
        font-size: 1.78rem;
      }

      @media only screen and (max-width: 56.25em) {
        font-size: 2rem;
      }

      @include sm {
        font-size: 1.85rem;
      }

      @media only screen and (max-width: 23.4375em) {
        font-size: 1.63rem;
      }

      @media only screen and (max-width: 18.75em) {
        font-size: 1.25rem;
      }

      @media only screen and (min-width: 100.0625em) {
        font-size: 2rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 2.5rem;
      }

      &::before,
      &::after {
        display: table-cell;
        content: '';
        width: 8rem;
        height: 0;
        border-top: 1px solid $clr-white;

        @include sm {
          width: 5rem;
        }

        @media only screen and (max-width: 18.75em) {
          width: 3rem;
        }
      }

      .heroText {
        display: inline-block;
        padding: 0 2.4rem;
      }
    }
  }
}
