@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.newsLetter {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 8rem 3rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @include xl {
      padding: 8.88889rem 3.33333rem;
    }

    @media only screen and (max-width: 56.25em) {
      padding: 10rem 3.75rem;
    }

    @include md {
      flex-direction: column;
    }

    @include sm {
      padding: 7.5rem 3.75rem;
    }

    @media only screen and (min-width: 112.5em) {
      padding: 10rem 3rem;
    }

    .textWrap {
      flex: 1;

      @include lg {
        flex: 1.3;
      }

      @media only screen and (max-width: 53.75em) {
        flex: 1.5;
      }

      @media only screen and (min-width: 112.5em) {
        flex: 1.5;
      }

      .headingWrap {
        display: flex;
        align-items: center;
        gap: 3rem;

        @media only screen and (max-width: 60.9375em) {
          gap: 2rem;
        }

        @media only screen and (max-width: 21.5em) {
          gap: 1.5rem;
        }

        svg {
          font-size: 4.2rem;
          fill: $clr-gray-dark;

          @include xl {
            font-size: 4.667rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 5.25rem;
          }

          @include sm {
            font-size: 3.5rem;
          }

          @media only screen and (max-width: 21.5em) {
            font-size: 3.25rem;
          }

          @media only screen and (max-width: 18.75em) {
            font-size: 3rem;
          }

          @media only screen and (max-width: 17.5em) {
            font-size: 2.75rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 4.5rem;
          }
        }

        h5 {
          text-transform: uppercase;
          font-size: var(--default-font-size);
          color: $clr-black;
          letter-spacing: 0.5px;

          @include xl {
            font-size: 1.77778rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 2rem;
            letter-spacing: 0.3px;
          }

          @media only screen and (max-width: 21.5em) {
            font-size: 1.875rem;
          }

          @media only screen and (max-width: 18.75em) {
            font-size: 1.625rem;
            letter-spacing: 0.1px;
          }

          @media only screen and (max-width: 17.5em) {
            font-size: 1.5rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 2rem;
          }
        }
      }
    }

    .formWrap {
      flex: 2;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.2rem;

        input {
          display: inline-block;
          border: none;
          outline: none;
          appearance: none;
          font-family: inherit;
          font-size: 1.3rem;
          width: 100%;
          height: 5rem;
          padding: 1rem 2rem;
          background-color: transparent;
          color: $clr-gray-dark;
          box-shadow: inset $box-shadow;
          border-radius: 0.5rem;
          letter-spacing: 1px;
          caret-color: $clr-gray-light;

          @include xl {
            font-size: 1.44445rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.625rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.8rem;
          }

          &::placeholder {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.3rem;
            color: $clr-gray-light;

            @include xl {
              font-size: 1.44445rem;
            }

            @media only screen and (max-width: 56.25em) {
              font-size: 1.625rem;
            }

            @media only screen and (min-width: 112.5em) {
              height: 7rem;
              font-size: 1.6rem;
            }
          }
        }

        button {
          display: inline-block;
          border: none;
          outline: none;
          text-transform: capitalize;
          font-weight: 600;
          font-size: 1.3rem;
          letter-spacing: 1.5px;
          line-height: 1;
          width: fit-content;
          padding: 1.6rem 6rem;
          background-color: $clr-black;
          color: $clr-white;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: all 0.3s;

          @include xl {
            font-size: 1.44445rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.625rem;
          }

          @media only screen and (max-width: 26.875em) {
            width: 100%;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.7rem;
          }

          &:hover {
            color: $clr-secondary;
          }

          &:disabled {
            opacity: 0.7;
            cursor: default;
          }
        }
      }
    }
  }
}
