@import '../../styles/responsive.scss';

.orders {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 8rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 68.75em) {
      width: 110rem;
    }

    @include lg {
      padding: 8rem 3rem;
    }

    @include sm {
      padding: 6rem 2.5rem;
    }

    @media only screen and (min-width: 112.5em) {
      width: 130rem;
    }
  }
}
