@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.accountInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  @media only screen and (max-width: 59.375em) {
    flex-wrap: wrap;
    row-gap: 2rem;
  }

  @include sm {
    margin-bottom: 3rem;
  }

  @media only screen and (min-width: 112.5em) {
    margin-bottom: 3rem;
  }
}
