@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.accountInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  @media only screen and (min-width: 112.5em) {
    margin-bottom: 3rem;
  }
}
