@import '../../styles/variables.scss';

.offer {
  display: flex;
  justify-content: center;
  height: 70vh;
  background-image: url(/img/offerBg.png);
  background-color: $clr-secondary;
  color: $clr-white;

  .container {
    width: 144rem;
    padding: 8rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      flex: 1.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3.2rem;
      padding: 2.4rem;

      .heading {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 4.3rem;
        color: inherit;
      }

      .desc {
        font-size: 2rem;
        line-height: 2.8rem;
        color: currentColor;
      }
    }

    .right {
      flex: 1;

      .imgContainer {
        position: relative;
        width: 50rem;
        height: 50rem;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
