@import '../../styles/animations.scss';
@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.offer {
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 35vw;
  background-image: url(/img/offerBg-10.jpg);
  background-size: cover;
  background-position: center;
  background-color: $clr-black;
  color: $clr-white;

  @include lg {
    height: 40vw;
  }

  @media only screen and (max-width: 57.5em) {
    height: 45vw;
  }

  @media only screen and (max-width: 37.5em) {
    height: 50vw;
  }

  @include sm {
    height: 55vw;
  }

  @media only screen and (min-width: 112.5em) {
    height: 40vw;
  }

  .container {
    width: 144rem;
    padding: 8rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xxl {
      width: 130rem;
    }

    @media only screen and (max-width: 81.25em) {
      width: 120rem;
    }

    @media only screen and (max-width: 68.75em) {
      width: 110rem;
    }

    @include lg {
      width: 105rem;
    }

    @media only screen and (max-width: 57.5em) {
      width: 95rem;
    }

    @include md {
      width: 85rem;
    }

    @media only screen and (max-width: 43.75em) {
      width: 80rem;
    }

    @media only screen and (max-width: 40.625em) {
      width: 75rem;
    }

    @media only screen and (max-width: 37.5em) {
      width: 67rem;
    }

    @media only screen and (max-width: 34.375em) {
      width: 60rem;
    }

    @include sm {
      width: 50rem;
      padding: 4rem 0;
    }

    @media only screen and (min-width: 125em) {
      width: 150rem;
    }

    .left {
      flex: 1;

      @include md {
        display: none;
      }

      .imgContainer {
        position: relative;
        width: 50rem;
        height: 50rem;
        animation: moveToTop 3s infinite ease alternate;

        @include lg {
          width: 45rem;
          height: 45rem;
        }

        @media only screen and (min-width: 112.5em) {
          width: 60rem;
          height: 60rem;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .right {
      flex: 1.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3.2rem;
      padding: 2.4rem;

      @media only screen and (max-width: 68.75em) {
        padding: 0;
      }

      @include lg {
        gap: 2.8rem;
      }

      @media only screen and (max-width: 37.5em) {
        gap: 2rem;
      }

      @include sm {
        gap: 1.5rem;
      }

      @include sm {
        padding: 0;
      }

      .heading {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 4.8rem;
        color: inherit;
        line-height: 1;

        @include xxl {
          font-size: 4.5rem;
        }

        @media only screen and (max-width: 81.25em) {
          font-size: 4.2rem;
        }

        @media only screen and (max-width: 68.75em) {
          font-size: 4rem;
        }

        @include lg {
          font-size: 3.75rem;
        }

        @media only screen and (max-width: 57.5em) {
          font-size: 3.5rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 4.85rem;
        }

        @media only screen and (max-width: 50em) {
          font-size: 3.75rem;
        }

        @include md {
          font-size: 4rem;
        }

        @media only screen and (max-width: 37.5em) {
          font-size: 3.5rem;
        }

        @include sm {
          font-size: 3rem;
        }

        @media only screen and (max-width: 18.75em) {
          font-size: 2.25rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 5rem;
        }
      }

      .desc {
        text-align: justify;
        font-size: 2rem;
        line-height: 1.25;
        color: currentColor;

        @media only screen and (max-width: 56.25em) {
          font-size: 2.15rem;
        }

        @media only screen and (max-width: 37.5em) {
          font-size: 2rem;
        }

        @include sm {
          font-size: 1.8rem;
        }

        @media only screen and (max-width: 23.4375em) {
          font-size: 1.75rem;
        }

        @media only screen and (max-width: 18.75em) {
          font-size: 1.625rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 2.33333rem;
        }
      }

      button {
        all: unset;
        display: inline-block;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 100%;
        letter-spacing: 1.5px;
        line-height: 1;
        width: fit-content;
        padding: 1.6rem 6rem;
        background-color: $clr-primary;
        color: inherit;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s;

        @media only screen and (max-width: 56.25em) {
          font-size: 1.65rem;
        }

        @media only screen and (max-width: 37.5em) {
          padding: 1.3rem 3rem;
        }

        @include sm {
          font-weight: 500;
          letter-spacing: 0;
        }

        @media only screen and (max-width: 18.75em) {
          font-size: 1.625rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 2rem;
        }

        &:hover {
          background-color: $clr-secondary;
        }

        &:disabled {
          opacity: 0.7;
          cursor: default;
        }
      }
    }
  }
}
