@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.reviews {
  flex: 3;
  padding-right: 1.2rem;

  @include md {
    padding: 0 1.5rem;
  }

  @media only screen and (max-width: 26.8125em) {
    padding: 0 3rem;
  }

  @media only screen and (max-width: 21.875em) {
    padding: 0 3.5rem;
  }

  .reviewBox {
    .listWrap {
      list-style: none;
      border-bottom: none;

      .listItem {
        display: inline-block;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 100%;
        letter-spacing: 0.5px;
        line-height: 3rem;
        padding: 4px 5rem;
        color: #777;
        border-bottom: none;

        @media only screen and (max-width: 56.25em) {
          padding: 4px 2.5rem;
        }

        @include lg {
          font-size: 1.78rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 2rem;
        }

        @include md {
          padding: 4px 4rem;
        }

        @media only screen and (max-width: 26.8125em) {
          font-size: 1.8rem;
          padding: 4px 2rem;
        }

        &.active {
          position: relative;
          top: 1px;
          background-color: $clr-white;
          color: inherit;
          border-top: 2px solid $clr-green;
          border-left: 1px solid $line !important;
          border-right: 1px solid $line;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }

        .toggleIcon {
          position: absolute;
          top: -1px;
          right: 1rem;
          color: $clr-black;
          cursor: pointer;
          transition: all 0.3s;

          @media only screen and (max-width: 33.75em) {
            right: 0.5rem;
          }

          @include sm {
            top: 4px;
          }

          @media only screen and (max-width: 26.8125em) {
            right: -3px;
          }

          &:hover {
            color: $clr-secondary;
          }

          svg {
            font-size: 4rem;
            fill: currentColor;

            @include sm {
              font-size: 3rem;
            }

            @media only screen and (max-width: 26.8125em) {
              font-size: 2.8rem;
            }
          }
        }
      }
    }

    .reviewWrap {
      padding: 7.5rem 4.2rem 5rem;
      background-color: $clr-white;
      border: 1px solid $line;
      border-radius: 0.5rem;
      border-top-left-radius: 0;
      transition: all 0.5s ease-in;

      @include sm {
        padding: 5rem 2rem;
      }

      @media only screen and (max-width: 26.8125em) {
        padding: 5rem 1rem;
      }

      &.hide {
        padding-top: 0;
        transition: all 0.5s ease-out;
      }

      .reviewContainer {
        .allReviews {
          p {
            margin: 0 0 2.2rem;
          }
        }

        .collapse {
          display: none;
          visibility: hidden;
          opacity: 0;
          z-index: -1;
          transition: all 0.3s ease-out;

          &.show {
            display: block;
            visibility: visible;
            opacity: 1;
            z-index: 999;
            transition: all 0.3s ease-in;
          }
        }

        .reviewFormWrap {
          .reviewForm {
            .respond {
              margin: 50px 0 0;
              position: relative;

              &::before {
                content: '';
                width: 100%;
                height: 1px;
                padding: 1px 0;
                border-top: 1px solid $line;
                border-bottom: 1px solid $line;

                position: absolute;
                top: 1.1rem;
                left: 0;
              }

              .replyTitle {
                display: inline-block;
                text-transform: uppercase;
                font-weight: 600;
                font-size: var(--default-font-size);
                letter-spacing: 0.5px;
                padding-right: 2rem;
                background-color: $clr-white;
                color: inherit;
                margin-bottom: 3.8rem;
                position: relative;

                @include lg {
                  font-size: 1.78rem;
                }

                @media only screen and (max-width: 56.25em) {
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
