@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.reviews {
  flex: 3;
  padding-right: 1.2rem;

  @media only screen and (max-width: 50em) {
    padding: 0;
  }

  &.emptyReviews {
    @media only screen and (max-width: 26.8125em) {
      padding: 0 1.5rem;
    }

    @media only screen and (max-width: 22.5em) {
      padding: 0 1rem;
    }
  }

  .reviewBox {
    .listWrap {
      list-style: none;
      border-bottom: none;

      .listItem {
        display: inline-block;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 100%;
        letter-spacing: 0.5px;
        line-height: 3rem;
        padding: 4px 5rem;
        color: #777;
        border-bottom: none;

        @include lg {
          font-size: 1.77778rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 2rem;
          padding: 4px 5.625rem;
          padding-left: 4rem;
        }

        @include sm {
          padding: 4px 4rem;
          padding-left: 2rem;
        }

        @media only screen and (max-width: 26.8125em) {
          padding: 4px 3rem;
          padding-left: 1rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 2rem;
        }

        &.active {
          position: relative;
          top: 1px;
          background-color: $clr-white;
          color: inherit;
          border-top: 2px solid $clr-green;
          border-left: 1px solid $line !important;
          border-right: 1px solid $line;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }

        .toggleIcon {
          position: absolute;
          top: -1px;
          right: 1rem;
          color: $clr-black;
          cursor: pointer;
          transition: all 0.3s;

          @media only screen and (max-width: 33.75em) {
            right: 0.5rem;
          }

          @include sm {
            top: 4px;
          }

          @media only screen and (max-width: 26.8125em) {
            right: -3px;
          }

          &:hover {
            color: $clr-secondary;
          }

          svg {
            font-size: 4rem;
            fill: currentColor;

            @include sm {
              font-size: 3rem;
            }

            @media only screen and (max-width: 26.8125em) {
              font-size: 2.8rem;
            }
          }
        }
      }
    }

    .reviewWrap {
      padding: 7.5rem 4.2rem 5rem;
      background-color: $clr-white;
      border: 1px solid $line;
      border-radius: 0.5rem;
      border-top-left-radius: 0;
      transition: all 0.5s ease-in;

      @include sm {
        padding: 5rem 2rem;
      }

      @media only screen and (max-width: 26.8125em) {
        padding: 5rem 1rem;
      }

      @media only screen and (min-width: 112.5em) {
        padding-top: 5rem;
      }

      &.hide {
        padding-top: 0;
        transition: all 0.5s ease-out;
      }

      .reviewContainer {
        .allReviews {
          p {
            margin: 0 0 2.2rem;

            @media only screen and (min-width: 87.5em) {
              font-size: 2.3rem;
            }

            @include xl {
              font-size: 1.78rem;
            }

            @media only screen and (max-width: 56.25em) {
              font-size: 2rem;
            }

            @include sm {
              font-size: 1.63rem;
            }

            @media only screen and (min-width: 112.5em) {
              margin: 0 0 1rem;
            }
          }
        }

        .collapse {
          display: none;
          visibility: hidden;
          opacity: 0;
          z-index: -1;
          transition: all 0.3s ease-out;

          &.show {
            display: block;
            visibility: visible;
            opacity: 1;
            z-index: 999;
            transition: all 0.3s ease-in;
          }
        }

        .reviewFormWrap {
          .reviewForm {
            .respond {
              margin: 50px 0 0;
              position: relative;

              &.hide {
                min-height: 33.292rem;
              }

              &::before {
                content: '';
                width: 100%;
                height: 1px;
                padding: 1px 0;
                border-top: 1px solid $line;
                border-bottom: 1px solid $line;

                position: absolute;
                top: 1.1rem;
                left: 0;
              }

              .replyTitle {
                display: inline-block;
                text-transform: uppercase;
                font-weight: 600;
                font-size: var(--default-font-size);
                letter-spacing: 0.5px;
                padding-right: 2rem;
                background-color: $clr-white;
                color: inherit;
                margin-bottom: 3.8rem;
                position: relative;

                @include lg {
                  font-size: 1.77778rem;
                }

                @media only screen and (max-width: 56.25em) {
                  font-size: 2rem;
                }

                @include md {
                  font-size: 1.7rem;
                }

                @media only screen and (max-width: 26.8125em) {
                  font-size: 1.5rem;
                }

                @media only screen and (max-width: 18.75em) {
                  font-size: 1.3rem;
                }

                @media only screen and (min-width: 112.5em) {
                  font-size: 1.8rem;
                  margin-bottom: 3rem;
                }
              }

              .reviewAuth {
                span {
                  font-weight: 500;
                  font-size: 1.3rem;

                  @include lg {
                    font-size: 1.44445rem;
                  }

                  @media only screen and (max-width: 56.25em) {
                    font-size: 1.625rem;
                  }

                  @media only screen and (max-width: 18.75em) {
                    font-size: 1.53rem;
                  }

                  @media only screen and (min-width: 112.5em) {
                    font-size: 1.5rem;
                  }

                  a,
                  a:link,
                  a:visited {
                    font-size: 100%;
                    color: $clr-gray-dark;
                    transition: all 0.3s;

                    &:hover {
                      text-decoration: underline;
                      text-underline-offset: 0.5rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
