@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.reviews {
  flex: 3;

  &.emptyReviews {
    max-width: 100rem;

    @media only screen and (max-width: 93.75em) {
      max-width: 95rem;
    }
  }

  .reviewBox {
    .listWrap {
      list-style: none;
      border-bottom: none;

      .listItem {
        display: inline-block;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 100%;
        letter-spacing: 0.5px;
        line-height: 3rem;
        padding: 4px 5rem;
        color: #777;
        border-bottom: none;

        @media only screen and (max-width: 56.25em) {
          font-size: 1.65rem;
          padding: 4px 5.625rem;
          padding-left: 4rem;
        }

        @include sm {
          padding: 4px 4rem;
          padding-left: 2rem;
        }

        @media only screen and (max-width: 26.8125em) {
          padding: 4px 3.25rem;
          padding-left: 1rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 2rem;
          padding: 1rem 5rem;
        }

        @media only screen and (min-width: 125em) {
          font-size: 2.2rem;
        }

        &.active {
          position: relative;
          top: 1px;
          background-color: $clr-white;
          color: inherit;
          border-top: 2px solid $clr-primary;
          border-left: 1px solid $line !important;
          border-right: 1px solid $line;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }

        .toggleIcon {
          position: absolute;
          top: -1px;
          right: 1rem;
          color: $clr-black;
          cursor: pointer;
          transition: all 0.3s;

          @media only screen and (max-width: 33.75em) {
            right: 0.5rem;
          }

          @include sm {
            top: 4px;
          }

          @media only screen and (max-width: 26.8125em) {
            right: 0;
          }

          @media only screen and (min-width: 112.5em) {
            top: 0.6rem;
            right: 0.5rem;
          }

          &:hover {
            color: $clr-secondary;
          }

          svg {
            font-size: 4rem;
            fill: currentColor;

            @include sm {
              font-size: 3rem;
            }

            @media only screen and (max-width: 26.8125em) {
              font-size: 2.8rem;
            }
          }
        }
      }
    }

    .reviewWrap {
      padding: 7.5rem 4.2rem 5rem;
      background-color: $clr-white;
      border: 1px solid $line;
      border-radius: 0.5rem;
      border-top-left-radius: 0;
      transition: all 0.5s ease-in;

      @include lg {
        padding: 5.5rem 2.2rem 3rem;
      }

      @media only screen and (max-width: 31.25em) {
        padding: 3rem 2rem;
      }

      @media only screen and (max-width: 29.375em) {
        padding: 3rem 1.25rem;
      }

      @media only screen and (max-width: 26.8125em) {
        padding: 3rem 1rem;
      }

      &.hide {
        padding-top: 0;
        transition: all 0.5s ease-out;
      }

      .reviewContainer {
        .allReviews {
          p {
            margin: 0 0 2.2rem;

            @media only screen and (min-width: 87.5em) {
              font-size: 2.3rem;
            }

            @media only screen and (max-width: 56.25em) {
              font-size: 1.65rem;
            }

            @include sm {
              font-size: 1.63rem;
            }

            @media only screen and (min-width: 112.5em) {
              margin: 0 0 1rem;
            }
          }
        }

        .collapse {
          display: none;
          visibility: hidden;
          opacity: 0;
          z-index: -1;
          transition: all 0.3s ease-out;

          &.show {
            display: block;
            visibility: visible;
            opacity: 1;
            z-index: 999;
            transition: all 0.3s ease-in;
          }
        }

        .reviewFormWrap {
          .reviewForm {
            .respond {
              margin: 5rem 0 0;
              position: relative;

              @include md {
                margin: 3rem 0 0;
              }

              &.hide {
                min-height: 33.292rem;
                min-height: 10rem;
              }

              &::after {
                content: '';
                width: 80%;
                height: 1px;
                padding: 1px 0;
                border-top: 1px solid $line;
                border-bottom: 1px solid $line;

                position: absolute;
                top: 1.1rem;
                right: 0;
              }

              .replyTitle {
                display: inline-block;
                text-transform: uppercase;
                font-weight: 600;
                font-size: var(--default-font-size);
                letter-spacing: 0.5px;
                padding-right: 2rem;
                background-color: $clr-white;
                color: inherit;
                margin-bottom: 3.8rem;
                position: relative;

                @media only screen and (max-width: 56.25em) {
                  font-size: 1.65rem;
                }

                @media only screen and (max-width: 26.8125em) {
                  font-size: 1.5rem;
                }

                @media only screen and (max-width: 18.75em) {
                  font-size: 1.3rem;
                }

                @media only screen and (min-width: 112.5em) {
                  font-size: 1.8rem;
                  margin-bottom: 3rem;
                }

                @media only screen and (min-width: 125em) {
                  font-size: 2rem;
                }
              }

              .reviewAuth {
                span {
                  font-weight: 500;
                  font-size: 1.3rem;

                  @media only screen and (max-width: 56.25em) {
                    font-size: 1.35rem;
                  }

                  @media only screen and (min-width: 112.5em) {
                    font-size: var(--default-font-size);
                  }

                  @media only screen and (min-width: 125em) {
                    font-size: 1.8rem;
                  }

                  a,
                  a:link,
                  a:visited {
                    font-size: 100%;
                    color: $clr-gray-dark;
                    transition: all 0.3s;

                    &:hover {
                      text-decoration: underline;
                      text-underline-offset: 0.5rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
