@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.emptyCartMenu {
  .emptyHeader {
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 2rem;
    color: $clr-black;

    @media only screen and (max-width: 56.25em) {
      font-size: 1.35rem;
    }

    @media only screen and (min-width: 112.5em) {
      font-size: 2rem;
      padding: 2.5rem;
    }
  }

  hr {
    height: 0;
    border: 0.1px solid $line;
  }

  .cartFooter {
    margin-top: 1.6rem;

    .cartBtn {
      display: flex;
      align-items: center;
      justify-content: center;

      outline: none;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.3rem;
      padding: 1rem;
      background-color: $clr-secondary;
      color: $clr-white !important;
      border: 1px solid transparent;
      border-radius: 0.5rem;
      transition: all 0.3s ease-in-out;

      @media only screen and (max-width: 56.25em) {
        font-size: 1.35rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 1.8rem;
        padding: 1.25rem;
      }

      &:hover {
        background-color: $clr-white !important;
        color: $clr-secondary !important;
        border-color: currentColor;
      }

      &:disabled {
        opacity: 0.7;
        cursor: default;
      }
    }
  }
}
