@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.emptyCartMenu {
  .cardHeader {
    font-weight: 700;
    font-size: 1.3rem;
    padding: 2rem;
    color: $clr-black;

    @include xl {
      font-size: 1.44445rem;
    }

    @media only screen and (max-width: 56.25em) {
      font-size: 1.625rem;
    }

    @media only screen and (max-width: 18.75em) {
      padding: 1.5rem;
    }

    @media only screen and (min-width: 112.5em) {
      font-size: 1.66667rem;
    }

    &.empty {
      text-align: center;
    }
  }

  .cartFooter {
    margin-top: 1.6rem;

    .cartBtn {
      display: flex;
      align-items: center;
      justify-content: center;

      outline: none;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.3rem;
      padding: 1rem;
      background-color: $clr-secondary;
      color: $clr-white !important;
      border: 1px solid transparent;
      border-radius: 0.5rem;
      transition: all 0.3s ease-in-out;

      @include xl {
        font-size: 1.44445rem;
      }

      @media only screen and (max-width: 56.25em) {
        font-size: 1.625rem;
      }

      @media only screen and (max-width: 18.75em) {
        font-size: 1.5rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 1.6rem;
      }

      &:hover {
        background-color: $clr-white !important;
        color: $clr-secondary !important;
        border-color: currentColor;
      }

      &:disabled {
        opacity: 0.7;
        cursor: default;
      }
    }
  }
}
