@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.successInfo {
  flex: 3;

  @media only screen and (max-width: 62.5em) {
    flex: 2.25;
  }

  @media only screen and (max-width: 56.25em) {
    width: 100%;
  }

  .successWrap {
    padding: 5rem 3rem;
    background-color: #31c07e;
    color: $clr-white;

    @media only screen and (max-width: 37.5em) {
      padding: 5rem 2.5rem;
    }

    @media only screen and (max-width: 25em) {
      padding: 4rem 1rem;
    }

    .successBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      .successIconWrap {
        width: 10rem;
        height: 10rem;
        background-color: $clr-white;
        box-shadow: inset $box;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        @include xl {
          width: 11.1125rem;
          height: 11.1125rem;
        }

        @include sm {
          width: 10rem;
          height: 10rem;
        }

        @media only screen and (min-width: 112.5em) {
          width: 15rem;
          height: 15rem;
        }

        &::before {
          content: '\2713';
          font-weight: 900;
          font-size: 6rem;
          color: #31c07e;

          display: flex;
          align-items: center;
          justify-content: center;

          @media only screen and (min-width: 112.5em) {
            font-size: 8rem;
          }
        }

        svg {
          width: 6rem;
          stroke: #31c07e;
          stroke-width: 4px;
        }
      }

      .successMessage {
        text-align: center;
        line-height: 1.4;

        .successHeadingSub {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 2rem;

          @include lg {
            font-size: 2.22222rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 2.5rem;
          }

          @include sm {
            font-size: 2.25rem;
          }

          @media only screen and (max-width: 25em) {
            font-size: 2rem;
          }

          @media only screen and (max-width: 21.875em) {
            font-size: 1.8rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 3rem;
          }
        }

        .successHeadingMain {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 2.5rem;

          @include xl {
            font-size: 2.77778rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 3.125rem;
          }

          @include sm {
            font-size: 2.75rem;
          }

          @media only screen and (max-width: 25em) {
            font-size: 2.5rem;
          }

          @media only screen and (max-width: 21.875em) {
            font-size: 2.25rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 3.5rem;
          }
        }

        .successText {
          font-size: 1.3rem;

          @include xl {
            font-size: 1.44444rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.625rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 2rem;
          }
        }
      }
    }

    .orderStatus {
      padding: 3rem;
      background-color: $clr-white;
      color: $clr-black;
      border-radius: 0.5rem;
      margin-top: 5rem;

      @media only screen and (max-width: 37.5em) {
        padding: 3rem 1rem;
      }

      @include sm {
        display: none;
      }

      p {
        text-align: center;
        font-size: 1.3rem;
        color: $clr-gray-dark;
        margin-bottom: 3rem;

        @include xl {
          font-size: 1.44444rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 1.625rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 2rem;
        }

        time {
          font-weight: 700;
        }
      }

      .stepper {
        list-style: none;
        width: 100%;
        display: flex;

        li {
          display: inline-block;
          position: relative;
          margin-top: 3.2rem;

          .item {
            width: 10rem;
            text-align: center;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 100%;
            line-height: 1.3;
            position: relative;
            margin-left: auto;
            margin-right: 0;
            padding-top: 0.8rem;
            z-index: 1;

            @include xl {
              font-size: 1.77778rem;
            }

            @media only screen and (max-width: 56.25em) {
              font-size: 2rem;
              padding-top: 1rem;
            }

            @media only screen and (max-width: 37.5em) {
              font-size: 1.75rem;
            }

            @include sm {
              font-size: 1.625rem;
              padding-top: 1.5rem;
            }

            @media only screen and (min-width: 112.5em) {
              font-size: 2.125rem;
              padding-top: 3rem;
            }

            &::before {
              display: flex;
              align-items: center;
              justify-content: center;

              content: '\2713';
              width: 3.2rem;
              height: 3.2rem;
              color: $clr-white;
              position: absolute;
              top: -3.2rem;
              left: 0;
              right: 0;
              margin: auto;
              border-radius: 50%;
              box-sizing: border-box;

              @include xl {
                width: 3.5558rem;
                height: 3.5558rem;
              }

              @media only screen and (max-width: 56.25em) {
                width: 4rem;
                height: 4rem;
              }

              @media only screen and (min-width: 112.5em) {
                width: 5rem;
                height: 5rem;
              }
            }
          }
        }

        .ready::before {
          background-color: #dddddd;
        }

        .ready > .item::before {
          background-color: #dddddd;
        }

        .done::before {
          background-color: #31c07e;
        }

        .done > .item::before {
          background-color: #31c07e;
        }

        li + li {
          flex-grow: 1;
          display: flex;
          flex-direction: row;

          &::before {
            display: block;
            content: '';
            position: absolute;
            left: -30%;
            top: -1.6rem;
            width: 100%;
            height: 4px;

            @media only screen and (min-width: 112.5em) {
              top: -0.8rem;
            }
          }
        }
      }

      .orderDelivery {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-top: 5rem;

        span {
          font-size: 1.3rem;
          color: $clr-gray-dark;

          @include xl {
            font-size: 1.44444rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.625rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 2rem;
          }

          time {
            font-weight: 700;
          }
        }

        a,
        a:link,
        a:active {
          text-decoration: none;
          text-underline-offset: 0.5rem;
          font-size: 1.3rem;
          color: inherit;
          transition: all 0.3s;

          @include xl {
            font-size: 1.44444rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.625rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 2rem;
          }

          &:hover {
            text-decoration: underline;
            color: $clr-gray-dark;
          }
        }
      }
    }
  }
}
