@import '../../styles/variables.scss';

.successDetails {
  flex: 1;
  padding-left: 1.2rem;
  background-color: #f4f5f7;

  .detailWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    h2 {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.4;
    }

    span {
      font-weight: 700;
      font-size: 2rem;
    }
  }

  .contactDetails {
    padding: 1rem 2rem;
    background-color: $clr-white;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    h3 {
      display: inline-block;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 100%;
      padding: 1rem 0;
    }

    .contactInfo,
    .contactPhone {
      font-size: 1.3rem;
      color: $clr-gray-dark;
    }
  }

  .orderSummaryWrap {
    padding: 1rem 0;

    .orderSummary {
      padding: 0.5rem 2rem;
      background-color: $clr-white;
      border: 1px solid $line;
      margin-bottom: 1rem;

      h3 {
        display: inline-block;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 100%;
      }
    }

    .summary {
      padding: 0 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 1.3rem;
      }
    }

    .summaryTotal {
      span {
        font-size: 1.3rem;
      }
    }
  }
}
