@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.successDetails {
  flex: 1;
  background-color: transparent;

  .detailWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    h2 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.4;

      display: flex;
      align-items: center;
      justify-content: space-between;

      @include xl {
        font-size: 1.55555rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 2.33333rem;
      }

      &::after {
        display: block;
        content: '';
        width: 65%;
        height: 1px;
        padding: 1px 0;
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;

        @include xl {
          width: 50%;
        }

        @media only screen and (min-width: 112.5em) {
          width: 40%;
        }
      }
    }

    span {
      font-weight: 700;
      font-size: 2rem;
      color: #6b6b83;

      @include xl {
        font-size: 2.22222rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 3rem;
      }
    }
  }

  .contactDetails {
    padding: 1rem 2rem;
    background-color: $clr-white;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    .contactDetailBox {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        width: 2.25rem;
        stroke: currentColor;

        @include xl {
          width: 2.7778rem;
        }

        @media only screen and (min-width: 112.5em) {
          width: 3rem;
        }
      }

      h3 {
        display: inline-block;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 100%;
        padding: 1rem 0;
        line-height: 1.4;

        @include xl {
          font-size: 1.77778rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 2.125rem;
        }
      }
    }

    .contactInfo,
    .contactPhone {
      font-size: 1.3rem;
      color: $clr-gray-dark;

      @include xl {
        font-size: 1.44444rem;
      }

      @include lg {
        line-height: 1.3;
      }

      @media only screen and (max-width: 56.25em) {
        font-size: 1.625rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 1.9rem;
        line-height: 1.5;
      }
    }
  }

  .orderSummaryWrap {
    padding: 1rem;

    .orderSummary {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0.5rem 1rem;
      background-color: $clr-white;
      border: 1px solid $line;
      border-radius: 2px;
      margin-bottom: 1rem;

      svg {
        width: 1.8rem;
        stroke: currentColor;
        stroke-width: 3px;
      }

      h3 {
        display: inline-block;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 100%;

        @include xl {
          font-size: 1.77778rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 2.125rem;
        }
      }
    }

    .summaryBox {
      padding-bottom: 2rem;
      border-bottom: 1px solid $line;

      .summary {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          text-transform: capitalize;
          font-size: 1.3rem;

          @include xl {
            font-size: 1.44444rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.625rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 2rem;
          }

          &:nth-child(2) {
            font-variant: tabular-nums;
          }
        }
      }
    }

    .summaryTotal {
      padding: 1rem 1rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 1.3rem;

        @include xl {
          font-size: 1.44444rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 1.625rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 2rem;
        }

        &:nth-child(2) {
          font-variant: tabular-nums;
        }
      }
    }
  }
}
