@import '../../styles/variables.scss';

.successDetails {
  flex: 1;
  padding-left: 1.2rem;
  background-color: #f4f5f7;

  .detailWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    h2 {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.4;
    }

    span {
      font-weight: 700;
      font-size: 2rem;
    }
  }

  .contactDetails {
    padding: 1rem 2rem;
    background-color: $clr-white;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    h3 {
      display: inline-block;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 100%;
    }

    .contactInfo,
    .contactPhone {
      font-size: 1.3rem;
    }

    .orderSummaryWrap {
      .orderSummary {
        h3 {
        }
      }

      .summary {
        span {
        }
      }

      .summaryTotal {
      }
    }
  }
}
