@import '../../styles/variables.scss';

.login {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 15rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 3rem;
      -webkit-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;

      .imgWrap {
        width: 50rem;
        height: 40rem;

        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: contain;
        }
      }

      .formWrap {
        .headingWrap {
          h1 {
            span {
            }
          }
        }

        .loginForm {
          .formGroup {
            label {
            }

            input {
            }
          }

          .rememberWrap {
            .remember {
              input {
              }

              label {
              }
            }
            a,
            a:link,
            a:active {
            }
          }

          .buttonWrap {
            .loginBtn {
            }

            .googleBtn {
              img {
              }
            }
          }
        }
      }
      .signupWrap {
        p {
          a,
          a:link,
          a:active {
          }
        }
      }
    }
  }
}
