.login {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 10rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .imgWrap {
        img {
        }
      }

      .formWrap {
        .headingWrap {
          h1 {
            span {
            }
          }
        }

        .loginForm {
          .formGroup {
            label {
            }

            input {
            }
          }

          .rememberWrap {
            .remember {
              input {
              }

              label {
              }
            }
            a,
            a:link,
            a:active {
            }
          }

          .buttonWrap {
            .loginBtn {
            }

            .googleBtn {
              img {
              }
            }
          }
        }
      }
      .signupWrap {
        p {
          a,
          a:link,
          a:active {
          }
        }
      }
    }
  }
}
