@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.menuButton {
  display: inline-block;
  border: none;
  outline: none;
  width: 3rem;
  background-color: transparent;
  color: $clr-secondary;
  cursor: pointer;
  position: absolute;
  top: 11rem;
  left: 0;

  @include sm {
    top: 9rem;
  }

  @media only screen and (max-width: 26.875em) {
    width: 2.7rem;
  }

  svg {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 1;
  }

  @media only screen and (min-width: 64.0625em) {
    display: none;
  }
}
