@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.accountCard {
  width: 25rem;
  padding: 2rem;
  box-shadow: $box-shadow;
  border-radius: 0.5rem;
  position: relative;
  transition: all 0.5s ease-out;

  @include xl {
    width: 24rem;
  }

  @media only screen and (max-width: 68.75em) {
    width: 25rem;
  }

  @media only screen and (max-width: 59.375em) {
    width: 30rem;
  }

  @media only screen and (max-width: 56.25em) {
    width: 31.25rem;
  }

  @media only screen and (max-width: 51.875em) {
    width: 30rem;
  }

  @media only screen and (max-width: 50em) {
    width: 28rem;
  }

  @media only screen and (min-width: 112.5em) {
    width: 26rem;
    padding: 3rem;
  }

  &.toggle {
    width: 30rem;
    transition: all 0.5s ease-in;
  }

  .statsWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-weight: 600;
      font-size: 3rem;
      color: $clr-secondary;
      line-height: 1.3;

      @include xl {
        font-size: 3.33333rem;
      }

      @media only screen and (max-width: 56.25em) {
        font-size: 3.75rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 3.5rem;
      }
    }

    span {
      font-size: 1.3rem;
      color: $clr-gray-dark;

      @include xl {
        font-size: 1.44445rem;
      }

      @media only screen and (max-width: 56.25em) {
        font-size: 1.625rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 1.6rem;
      }
    }
  }

  .accountIconWrap {
    position: absolute;
    top: 1rem;
    right: 2rem;

    width: 3.5rem;
    height: 3.5rem;
    background-color: $clr-tertiary;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    @include xl {
      width: 3.89rem;
      height: 3.89rem;
    }

    @media only screen and (max-width: 56.25em) {
      width: 4.375rem;
      height: 4.375rem;
    }

    @media only screen and (min-width: 112.5em) {
      width: 5rem;
      height: 5rem;
    }

    img {
      display: block;
      width: 2.25rem;
      height: 2.25rem;
      object-fit: cover;

      @include xl {
        width: 2.778rem;
        height: 2.778rem;
      }

      @media only screen and (max-width: 56.25em) {
        width: 2.813rem;
        height: 2.813rem;
      }

      @media only screen and (min-width: 112.5em) {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
