@import './variables.scss';

@keyframes moveInBottom {
  from {
    opacity: 0;
    transform: translateY(7.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveToTop {
  from {
    transform: translateY(-1.5rem);
  }

  to {
    transform: translateY(0) scale(1.03);
  }
}

@keyframes pulse {
  to {
    border-color: $clr-gray-light;
  }
}
