$clr-primary: #ff0018;
$clr-secondary: #a00c1a;
$clr-tertiary: #faecec;
$clr-border: #f7dbdb;

$clr-white: #ffffff;
$clr-black: #000000;
$clr-green: #28a745;
$clr-yellow: #ffc043;
$clr-gray-light: #d3d3d3;
$clr-gray-dark: #00000059;

$box-shadow: 0px 0px 5px -1px rgba(73, 73, 73, 0.16);
$box: 0 0 0 1px rgba(67, 41, 163, 0.08), 0 1px 5px 0 rgba(67, 41, 163, 0.08);

$star: #faaf00;
