@import '../../styles/variables.scss';

.logo {
  text-transform: capitalize;
  font-weight: 500;
  color: $clr-primary;

  a,
  a:link,
  a:active {
    color: inherit;

    img {
      width: 12rem;
      height: auto;
      display: inline-block;
      object-fit: cover;
    }
  }
}
