@import '../../styles/variables.scss';

.logo {
  a,
  a:link,
  a:active {
    color: inherit;

    img {
      width: 12rem;
      height: auto;
      display: inline-block;
      object-fit: cover;
    }
  }
}
