@import '../../styles/variables.scss';

.logo {
  text-transform: capitalize;
  font-weight: 500;
  color: $clr-primary;

  a,
  a:link,
  a:active {
    color: inherit;

    h1 {
      display: inline-block;
      font-size: 3rem;
      color: currentColor;

      &::after {
        display: inline-block;
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        background-color: $clr-secondary;
        border-radius: 50%;
      }
    }
  }
}
