@import '../../styles/variables.scss';

.success {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 8rem 0;

    .successWrap {
      padding: 5rem 3rem;
      background-color: #31c07e;
      color: $clr-white;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;

      .successBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        .successIconWrap {
          width: 10rem;
          height: 10rem;
          background-color: $clr-white;
          box-shadow: inset $box;
          border-radius: 50%;

          display: flex;
          align-items: center;
          justify-content: center;

          .successIcon {
            display: block;
            width: 5rem;
            height: 4rem;
            object-fit: cover;
          }
        }

        .successMessage {
          text-align: center;
          line-height: 1.4;

          .successHeadingSub {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 2rem;
          }

          .successHeadingMain {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 2.5rem;
          }

          .successText {
            font-size: 1.3rem;
          }
        }
      }

      .orderStatus {
        padding: 3rem;
        background-color: $clr-white;
        color: $clr-black;
        border-radius: 0.5rem;
        margin-top: 5rem;

        p {
          text-align: center;
          font-size: 1.3rem;
          color: $clr-gray-dark;
          margin-bottom: 2rem;

          time {
            font-weight: 700;
          }
        }

        .orderIconWrap {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .statusIconWrap {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 3rem;
            height: 3rem;
            background-color: #31c07e;
            border-radius: 50%;

            svg {
              width: 2rem;
              stroke: $clr-white;
            }
          }
        }

        .orderStatusText {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            width: 6rem;
            text-transform: capitalize;
            font-weight: 600;
            line-height: 1;
            margin-top: 2rem;
          }
        }

        .orderDelivery {
          display: flex;
          align-items: center;
          gap: 3rem;

          span {
          }

          a,
          a:link,
          a:active {
          }
        }
      }
    }
  }
}
