@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.success {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 8rem 0;

    @include xxl {
      width: 120rem;
    }

    @media only screen and (max-width: 68.75em) {
      width: 105rem;
    }

    @include lg {
      width: 80rem;
    }

    @include md {
      width: 70rem;
    }

    @media only screen and (max-width: 43.75em) {
      width: 60rem;
    }

    @media only screen and (max-width: 37.5em) {
      width: 55rem;
    }

    @media only screen and (min-width: 112.5em) {
      width: 150rem;
      padding: 10rem 0;
    }

    .wrapper {
      display: flex;
      align-items: flex-start;
      background-color: #fbfbfc;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;
      overflow: hidden;

      @include lg {
        flex-direction: column;
        gap: 7rem;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
      }
    }
  }
}
