@import '../../styles/variables.scss';

.success {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 8rem 0;

    .successWrap {
      padding: 5rem 3rem;
      background-color: #31c07e;
      color: $clr-white;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;

      .successBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        .successIconWrap {
          width: 10rem;
          height: 10rem;
          background-color: $clr-white;
          box-shadow: inset $box;
          border-radius: 50%;

          display: flex;
          align-items: center;
          justify-content: center;

          .successIcon {
            display: block;
            width: 5rem;
            height: 4rem;
            object-fit: cover;
          }
        }

        .successMessage {
          text-align: center;
          line-height: 1.4;

          .successHeadingSub {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 2rem;
          }

          .successHeadingMain {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 2.5rem;
          }

          .successText {
            font-size: 1.3rem;
          }
        }
      }

      .orderStatus {
        padding: 3rem;
        background-color: $clr-white;
        color: $clr-black;

        p {
        }

        .orderIconWrap {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .statusIconWrap {
            svg {
              width: 2rem;
            }
          }

          .orderStatusText {
            span {
            }
          }

          .orderDelivery {
            p {
            }

            a,
            a:link,
            a:active {
            }
          }
        }
      }
    }
  }
}
