@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.feature {
  padding: 0 5rem;

  &:not(:last-child) {
    border-right: 1px dotted $clr-gray-light;

    @include md {
      border-right: none;
      border-bottom: 1px dotted $clr-gray-light;
    }
  }

  .wrapper {
    width: 26.5rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
      width: 9.5rem;
      height: 9.5rem;
      font-size: 4rem;
      line-height: 9.5rem;
      background-color: $clr-primary;
      color: $clr-white;
      border-radius: 50%;
      transform: scale(1);
      backface-visibility: hidden;
      transition: all 0.3s;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $clr-secondary;
        transform: scale(1.1);
      }

      svg {
        font-size: inherit;
        fill: currentColor;
      }
    }

    .heading {
      text-transform: uppercase;
      text-align: center;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: var(--default-font-size);
      color: $clr-black;
      line-height: 1.5;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;

      a,
      a:link,
      a:active {
        color: inherit;
        transition: all 0.3s;

        &:hover,
        &:visited {
          opacity: 0.5;
        }
      }
    }

    .desc {
      display: inline-block;
      text-align: center;
      font-family: inherit;
      font-size: 1.5rem;
      color: $clr-gray-light;
      line-height: 1.5;

      @include md {
        margin-bottom: 3.5rem;
      }
    }
  }
}
