.product {
  .productHeader {
    width: 100vw;
    height: 70vh;
    background-image: url(/img/slider_bg3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .container {
  }
}
