@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.checkoutInfo {
  flex: 3;
  width: 58.33333333%;

  @include md {
    width: 100%;
  }

  .checkoutInfoWrap {
    padding: 2rem 0;
    background-color: $clr-white;
    box-shadow: $box;
    border-radius: 3px;

    .checkoutUserSection {
      padding: 2rem;

      .checkoutInfoContainer {
        margin-bottom: 2rem;

        .checkoutInfoBox {
          text-align: left;
          max-width: 100%;
          padding-bottom: 2rem;

          @media only screen and (max-width: 25em) {
            padding-bottom: 1rem;
          }

          .checkoutInfoHeading {
            font-weight: 700;
            font-size: 2.8rem;
            padding: 0 0 2rem;
            color: inherit;
            line-height: 1;
            position: relative;

            @media only screen and (max-width: 56.25em) {
              font-size: 2.85rem;
            }

            @media only screen and (max-width: 25em) {
              font-size: 2.8rem;
            }

            @media only screen and (max-width: 21.5em) {
              font-size: 2.5rem;
            }

            @media only screen and (max-width: 18.75em) {
              font-size: 2.25rem;
            }

            @media only screen and (max-width: 17.5em) {
              font-size: 2.2rem;
            }

            @media only screen and (min-width: 112.5em) {
              font-size: 3rem;
            }

            @media only screen and (min-width: 125em) {
              font-size: 3.2rem;
            }

            &::after {
              display: inline-block;
              content: '';
              width: 45rem;
              height: 1px;
              padding: 1px 0;
              border-top: 1px solid $line;
              border-bottom: 1px solid $line;
              opacity: 0.3;

              position: absolute;
              top: 30%;
              right: 0;
              transform: translateY(-30%);

              @include xxl {
                width: 28rem;
              }

              @include xl {
                width: 23rem;
              }

              @media only screen and (max-width: 64rem) {
                width: 15rem;
              }

              @media only screen and (max-width: 59.375rem) {
                width: 13rem;
              }

              @include md {
                width: 30rem;
              }

              @media only screen and (max-width: 43.75em) {
                width: 25rem;
              }

              @media only screen and (max-width: 37.5em) {
                display: none;
              }

              @media only screen and (min-width: 112.5em) {
                width: 38rem;
              }

              @media only screen and (min-width: 125em) {
                width: 34rem;
              }
            }
          }
        }

        .addressHeading {
          font-weight: 500;
          font-size: 1.4rem;
          color: inherit;
          line-height: 1;
          margin: 0 0 2rem;

          @media only screen and (max-width: 64rem) {
            opacity: 0.85;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.75rem;
          }

          @media only screen and (max-width: 21.5em) {
            font-size: 1.65rem;
          }

          @media only screen and (max-width: 18.75em) {
            font-size: 1.625rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.8rem;
          }

          @media only screen and (min-width: 125em) {
            font-size: 2rem;
          }
        }

        hr {
          height: 0;
          border: 0;
          border: 1px solid $line;
          opacity: 0.3;
          margin: 1.6rem 0;
        }

        .recipientHeading {
          text-transform: capitalize;
          font-weight: 600;
          font-size: 100%;
          color: inherit;
          margin: 0 0 2rem;
          margin-bottom: 0.8rem;

          @media only screen and (max-width: 56.25em) {
            font-size: 1.65rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.75rem;
          }

          @media only screen and (min-width: 125em) {
            font-size: 1.95rem;
          }
        }

        .customerInfo {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          line-height: 1;
          margin-bottom: 1rem;

          .customerName,
          .customerPhone {
            text-transform: capitalize;
            font-weight: 400;
            font-size: 1.3rem;

            @media only screen and (max-width: 56.25em) {
              font-size: 1.35rem;
            }

            @media only screen and (min-width: 112.5em) {
              font-size: var(--default-font-size);
            }

            @media only screen and (min-width: 125em) {
              font-size: 1.8rem;
            }
          }
        }

        .recipientBtn,
        .deliveryBtn {
          all: unset;
          display: inline-block;
          max-width: 23rem;
          width: 100%;
          text-align: center;
          text-transform: capitalize;
          font-weight: 400;
          font-size: 1.3rem;
          padding: 0.8rem 3rem;
          background-color: $clr-black;
          color: $clr-white;
          border-radius: 0.5rem;
          opacity: 0.85;
          cursor: pointer;
          transition: all 0.3s;

          @media only screen and (max-width: 56.25em) {
            font-size: 1.35rem;
          }

          @include sm {
            padding: 0.8rem 0;
          }

          @media only screen and (max-width: 21.5em) {
            width: 20rem;
          }

          @media only screen and (max-width: 18.75em) {
            width: 17rem;
            font-size: 1.4rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: var(--default-font-size);
            padding: 1rem 3rem;
          }

          @media only screen and (min-width: 125em) {
            font-size: 1.8rem;
          }

          &:hover {
            color: $clr-secondary;
          }

          &:disabled {
            opacity: 0.7;
            cursor: default;
          }
        }

        .deliveryHeading {
          text-transform: capitalize;
          font-weight: 600;
          font-size: 100%;
          margin-bottom: 0.5rem;

          @media only screen and (max-width: 56.25em) {
            font-size: 1.65rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.8rem;
          }

          @media only screen and (min-width: 125em) {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .paymentSection {
    padding: 0 0.75rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      outline: none;
      text-align: center;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.3rem;
      width: 100%;
      height: 3.15rem;
      padding: 0.8rem;
      line-height: 1.595;
      vertical-align: middle;
      background-color: $clr-green;
      color: $clr-white;
      border: 1px solid transparent;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      @media only screen and (max-width: 56.25em) {
        font-size: 1.35rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
        height: 4rem;
        padding: 1rem;
      }

      @media only screen and (min-width: 125em) {
        font-size: 1.8rem;
        height: 4.5rem;
      }

      &:hover {
        background-color: transparent;
        color: $clr-primary;
        border-color: currentColor;

        span {
          border-color: $clr-primary $clr-primary transparent !important;
        }
      }

      &:disabled {
        opacity: 0.7;
        cursor: default;
      }

      span {
        @media only screen and (min-width: 112.5em) {
          width: 2.5rem !important;
          height: 2.5rem !important;
        }

        @media only screen and (min-width: 125em) {
          width: 3rem !important;
          height: 3rem !important;
        }
      }
    }
  }
}
