@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.heading {
  text-align: left;
  margin-bottom: 2rem;

  &.center {
    text-align: center;
  }

  .mainHeading {
    font-weight: 400;
    font-size: 2.4rem;
    color: inherit;
    line-height: 1.4;

    @include xl {
      font-size: 2.66667rem;
    }

    @media only screen and (max-width: 56.25em) {
      font-size: 3rem;
    }

    @media only screen and (max-width: 18.75em) {
      font-size: 2.5rem;
    }

    @media only screen and (min-width: 112.5em) {
      font-size: 3.33333rem;
    }
  }

  .subHeading {
    font-weight: 300;
    font-size: 1.7rem;
    color: $clr-gray-dark;
    line-height: 1;
    margin-top: 1rem;

    @include xl {
      font-size: 1.88889rem;
    }

    @media only screen and (max-width: 56.25em) {
      font-size: 2.125rem;
    }

    @media only screen and (max-width: 18.75em) {
      font-size: 2rem;
    }

    @media only screen and (min-width: 112.5em) {
      font-size: 2.66667rem;
    }
  }
}
