@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.accountMenu {
  flex: 1;
  padding: 0 3rem;
  position: relative;
  transition: all 0.5s ease-out;

  @include xl {
    flex: 0.8;
  }

  @media only screen and (max-width: 68.75em) {
    flex: 0;
  }

  &.toggle {
    flex: 0;
    transition: all 0.5s ease-in;

    .menuWrap {
      .menuItem {
        a,
        a:link,
        a:active {
          display: none;
          transition: all 0.5s ease-in;
        }
      }
    }
  }

  .menuWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .menuItem {
      display: flex;
      align-items: center;
      gap: 2rem;

      padding: 1.2rem 0.5rem;
      color: $clr-gray-dark;
      border-radius: 2px;
      margin-bottom: 2px;
      cursor: pointer;
      transition: all 0.3s;

      &.active {
        background-color: $clr-tertiary;
        color: $clr-secondary;
      }

      &:hover {
        background-color: #fbfbfc;
        color: $clr-gray-dark;
      }

      img {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;

        @include xl {
          width: 2.778rem;
          height: 2.778rem;
        }

        @media only screen and (min-width: 112.5em) {
          width: 3rem;
          height: 3rem;
        }
      }

      a,
      a:link,
      a:active {
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1.5rem;
        color: currentColor;
        transition: all 0.5s ease-out;

        @include xl {
          font-size: 1.66667rem;
        }

        @media only screen and (max-width: 68.75em) {
          display: none;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 1.83333rem;
        }
      }
    }
  }

  hr {
    height: 0;
    border: 0.5px solid #fbfbfc;
    margin: 1rem 0;
  }

  .toggleBtn {
    position: absolute;
    top: 30%;
    right: 0;
    transform: translateY(-30%);

    display: inline-block;
    border: none;
    outline: none;
    width: 2rem;
    height: 5rem;
    background-color: $clr-yellow;
    border-radius: 0.5rem;
    cursor: pointer;

    @media only screen and (max-width: 68.75em) {
      display: none;
    }

    @media only screen and (min-width: 112.5em) {
      width: 2.25rem;
      height: 7rem;
    }

    .sidebarToggleIcon {
      display: block;
      width: 2rem;
      height: 2rem;
      object-fit: cover;

      @media only screen and (min-width: 112.5em) {
        width: 2.25rem;
        height: 2.25rem;
      }
    }
  }
}
