@import '../../styles/animations.scss';
@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.relatedProduct {
  width: 22rem;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  border-radius: 3px;
  overflow: hidden;

  @include lg {
    width: 24.5rem;
  }

  @media only screen and (max-width: 59.375em) {
    width: 22.5rem;
  }

  @media only screen and (max-width: 53.125em) {
    width: 21rem;
  }

  @include md {
    width: 19rem;
  }

  @media only screen and (max-width: 39.375em) {
    width: 28rem;
  }

  @media only screen and (max-width: 37.5em) {
    width: 16rem;
  }

  @media only screen and (max-width: 34.375em) {
    width: 21rem;
  }

  @media only screen and (max-width: 25em) {
    width: 18rem;
  }

  @media only screen and (max-width: 21.5em) {
    width: 16rem;
  }

  @media only screen and (max-width: 18.75em) {
    width: 14rem;
  }

  @media only screen and (min-width: 112.5em) {
    width: 27.25rem;
  }

  @media only screen and (min-width: 125em) {
    width: 30.25rem;
  }

  .relatedBox {
    position: relative;

    .relatedThumbnail {
      width: 22rem;
      height: 17rem;
      background-color: #f7f7f7;
      position: relative;
      overflow: hidden;
      transform-origin: top;

      @include lg {
        width: 24.5rem;
      }

      @media only screen and (max-width: 59.375em) {
        width: 22.5rem;
      }

      @media only screen and (max-width: 53.125em) {
        width: 21rem;
      }

      @include md {
        width: 19rem;
      }

      @media only screen and (max-width: 39.375em) {
        width: 28rem;
      }

      @media only screen and (max-width: 37.5em) {
        width: 16rem;
        height: 13rem;
      }

      @media only screen and (max-width: 34.375em) {
        width: 21rem;
      }

      @media only screen and (max-width: 25em) {
        width: 18rem;
      }

      @media only screen and (max-width: 21.5em) {
        width: 16rem;
        height: 10rem;
      }

      @media only screen and (max-width: 18.75em) {
        width: 14rem;
      }

      @media only screen and (min-width: 112.5em) {
        width: 27.25rem;
        height: 20rem;
      }

      @media only screen and (min-width: 125em) {
        width: 30.25rem;
        height: 23rem;
      }

      &:hover .relatedOverlay {
        display: inline-block;
        visibility: visible;
        opacity: 1;
        z-index: 999;

        .relatedBtn {
          display: flex;
          align-items: center;
          justify-content: center;

          visibility: visible;
          opacity: 1;
          z-index: 999;
        }
      }

      .relatedLikeBtn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 2000;

        @include sm {
          top: 0.65rem;
          right: 0.5rem;
        }

        & > span {
          @include sm {
            width: 4rem;
            height: 4rem;
          }

          @media only screen and (max-width: 20.625em) {
            width: 4.5rem;
            height: 4.5rem;
          }
        }
      }

      .relatedOverlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: all 0.3s linear;

        .relatedBtn {
          border: none;
          outline: none;
          text-align: center;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.2rem;
          width: 14.8rem;
          height: 3.8rem;
          padding: 0.6rem 0;
          background-color: #fbfbfc;
          color: inherit;
          border-radius: 2px;
          cursor: pointer;
          transition: all 0.3s;
          animation: moveInBottom 0.3s ease-out 0.5s backwards;

          position: absolute;
          left: 17%;
          top: 11rem;

          display: none;
          visibility: hidden;
          opacity: 0;
          z-index: -1;

          @media only screen and (max-width: 56.25em) {
            font-size: 1.25rem;
          }

          @include md {
            width: 12rem;
            left: 18.5%;
            top: 10rem;
          }

          @media only screen and (max-width: 39.375em) {
            width: 14.8rem;
            left: 23%;
          }

          @media only screen and (max-width: 37.5em) {
            width: 10rem;
            height: 3.45rem;
            padding: 0.4rem 0;
            left: 19%;
            top: 8rem;
          }

          @media only screen and (max-width: 34.375em) {
            width: 14.8rem;
            padding: 0.6rem 0;
            left: 18%;
          }

          @media only screen and (max-width: 31.25em) {
            width: 13rem;
            left: 19.35%;
          }

          @media only screen and (max-width: 23.4375em) {
            left: 17.5%;
          }

          @media only screen and (max-width: 21.5em) {
            width: 12rem;
            left: 17.75%;
          }

          @media only screen and (max-width: 20.625em) {
            width: 18rem;
            padding: 1rem;
            left: 24%;
            top: 20rem;
          }

          @media only screen and (max-width: 17.5em) {
            left: 22%;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.5rem;
            height: 4rem;
            padding: 1rem 0;
            left: 23%;
            top: 13rem;
          }

          @media only screen and (min-width: 125em) {
            font-size: 1.68rem;
            width: 17rem;
            height: 4.5rem;
            left: 22%;
            top: 15rem;
          }

          &:hover {
            color: $clr-secondary;
          }

          &:disabled {
            opacity: 0.7;
            cursor: default;
          }

          span {
            @media only screen and (min-width: 112.5em) {
              width: 2rem !important;
              height: 2rem !important;
            }

            @media only screen and (min-width: 125em) {
              width: 3rem !important;
              height: 3rem !important;
            }
          }
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .relatedContent {
      text-align: center;
      min-height: 11.7rem;
      padding: 2.3rem 1rem 1.4rem;
      background-color: #fbfbfc;

      @media only screen and (max-width: 53.125em) {
        min-height: 10.7rem;
      }

      @media only screen and (max-width: 37.5em) {
        min-height: 8rem;
      }

      @media only screen and (max-width: 34.375em) {
        min-height: 10.7rem;
      }

      @media only screen and (max-width: 25em) {
        min-height: 9rem;
      }

      @media only screen and (max-width: 21.5em) {
        min-height: 8rem;
        padding: 1.4rem 1rem;
      }

      @media only screen and (max-width: 18.75em) {
        min-height: 7rem;
      }

      a,
      a:link,
      a:active {
        color: inherit;

        .relatedHeading {
          text-transform: uppercase;
          text-overflow: ellipsis;
          text-rendering: optimizeLegibility;
          white-space: nowrap;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.5;
          margin-bottom: 1px;
          transition: all 0.3s;
          overflow: hidden;

          @media only screen and (max-width: 56.25em) {
            font-size: 1.43rem;
          }

          @include md {
            font-weight: 600;
            font-size: 1.35rem;
          }

          @media only screen and (max-width: 37.5em) {
            font-size: 1.3rem;
          }

          @media only screen and (max-width: 34.6875em) {
            font-size: 1.2rem;
          }

          @media only screen and (max-width: 34.375em) {
            font-size: 1.5rem;
          }

          @include sm {
            font-size: 1.4rem;
          }

          @media only screen and (max-width: 23.4375em) {
            font-size: 1.3rem;
          }

          @media only screen and (max-width: 21.5em) {
            font-size: 1.2rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.65rem;
          }

          @media only screen and (min-width: 125em) {
            font-size: 1.83333rem;
          }

          &:hover {
            color: $clr-secondary;
          }
        }

        .relatedPrice {
          text-align: center;
          font-weight: 600;
          font-size: 1.8rem;
          color: $clr-secondary;

          @media only screen and (max-width: 56.25em) {
            font-size: 1.85rem;
          }

          @media only screen and (max-width: 37.5em) {
            font-size: 1.65rem;
          }

          @media only screen and (max-width: 34.6875em) {
            font-size: 1.8rem;
          }

          @media only screen and (max-width: 21.5em) {
            font-size: var(--default-font-size);
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 2rem;
          }

          @media only screen and (min-width: 125em) {
            font-size: 2.25rem;
          }
        }
      }
    }
  }
}
