@import '../../styles/variables.scss';

.relatedProduct {
  width: 22rem;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  border-radius: 3px;
  overflow: hidden;

  .relatedBox {
    position: relative;

    .relatedThumbnail {
      width: 22rem;
      height: 17rem;
      position: relative;
      overflow: hidden;
      transform-origin: top;

      &:hover .relatedOverlay {
        display: inline-block;
        visibility: visible;
        opacity: 1;
        z-index: 999;

        .relatedBtn {
          display: inline-block;
          visibility: visible;
          opacity: 1;
          z-index: 999;
        }
      }

      .relatedOverlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: all 0.3s linear;

        .relatedBtn {
          all: unset;
          text-align: center;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.2rem;
          width: 14.8rem;
          padding: 0.6rem 0;
          background-color: $clr-white;
          color: inherit;
          border-radius: 2px;
          cursor: pointer;
          transition: all 0.3s;
          animation: moveInBottom 0.3s ease-out 1s backwards;

          position: absolute;
          left: 50%;
          top: 11rem;
          transform: translateX(-50%);

          display: none;
          visibility: hidden;
          opacity: 0;
          z-index: -1;

          &:hover {
            color: $clr-secondary;
          }
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      a,
      a:link,
      a:active {
        position: relative;
        z-index: 1;
      }
    }

    .relatedContent {
      text-align: center;
      min-height: 11.7rem;
      padding: 2.3rem 0 1.4rem;
      background-color: #fbfbfc;

      a,
      a:link,
      a:active {
        color: inherit;

        .relatedHeading {
          text-transform: uppercase;
          text-rendering: optimizeLegibility;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.5;
          margin-bottom: 1px;
          transition: all 0.3s;

          &:hover {
            color: $clr-secondary;
          }
        }

        .relatedPrice {
          text-align: center;
          font-weight: 600;
          font-size: 1.8rem;
          color: $clr-secondary;
        }
      }
    }
  }
}
