@import '../../styles/variables.scss';

.modal {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5000;

  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;

    &.active {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }

    .wrapper {
      width: 50rem;
      padding: 3rem;
      background-color: $clr-white;
      border-radius: 0.5rem;
      position: relative;

      .modalHeading {
      }

      .modalBody {
      }

      .modalFooter {
        .modalBtnWrap {
          button {
          }
        }
      }

      .modalCloseBtnWrap {
        position: absolute;
        top: 1rem;
        right: 1rem;

        .closeBtn {
          all: unset;
          display: inline-block;
          background-color: transparent;
          cursor: pointer;

          img {
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
          }
        }
      }
    }
  }
}
