@import '../styles/variables.scss';

:root {
  --default-font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;

  @media only screen and (max-width: 75em) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 56.25em) {
    font-size: 50%;
  }

  @media only screen and (min-width: 112.5em) {
    font-size: 75%;
  }
}

body {
  font-size: var(--default-font-size);
  color: $clr-black;
  line-height: 1.7;
  overflow-x: hidden;
  cursor: default;
}

a {
  &:link,
  &:active {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
}
