@import '../styles/responsive.scss';

.notFound {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    a,
    a:link,
    a:active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      img {
        display: block;
        width: 30rem;
        height: 30rem;
        object-fit: contain;

        @include xl {
          width: 33.335rem;
          height: 33.335rem;
        }

        @media only screen and (min-width: 112.5em) {
          width: 35rem;
          height: 35rem;
        }
      }
    }
  }
}
