@import '../../styles/variables.scss';

.productInputs {
  .ingredientWrap {
    .ingredients {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        all: unset;
        text-align: center;
        font-weight: 400;
        font-size: 1.3rem;
        width: 5rem;
        height: 2.5rem;
        padding: 0.5rem;
        background-color: $clr-yellow;
        color: $clr-secondary;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
