.header {
  width: 100vw;
  height: 85vh;
  background-image: url(/svg/hero-2.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
    }

    .search {
      .searchInput {
        .searchIcon {
        }

        input {
        }
      }

      .searchBtn {
      }
    }
  }
}
