@import '../../styles/variables';
@import '../../styles/responsive.scss';

.header {
  width: 100vw;
  height: calc(85vh - 12rem);
  background-color: $clr-primary;
  background-image: url(/svg/hero-1.svg), url(/svg/hero-2.svg),
    url(/img/hero.png);
  background-size: contain;
  background-position: center left, center right, center center;
  background-repeat: no-repeat;
  overflow: visible;

  @include xl {
    height: calc(100vh - 12rem);
  }

  @include lg {
    background-image: url(/svg/hero-1.svg), url(/svg/hero-2.svg);
    background-position: center left, center right;
  }

  @media only screen and (max-width: 56.25em) {
    height: calc(90vh - 12rem);
  }

  @media only screen and (max-width: 41.5625em) {
    height: calc(70vh - 12rem);
  }

  @media only screen and (max-width: 37.5em) {
    height: calc(60vh - 12rem);
  }

  @media only screen and (max-width: 17.5em) {
    height: calc(50vh - 12rem);
  }

  @media only screen and (min-width: 112.5em) {
    height: calc(100vh - 12rem);
  }

  .container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1 {
      text-align: center;
      font-weight: 500;
      font-size: 3.6rem;
      color: $clr-white;
      line-height: 4.4rem;

      @include xl {
        font-size: 4rem;
      }

      @media only screen and (max-width: 56.25em) {
        font-size: 3.75rem;
      }

      @media only screen and (max-width: 37.5em) {
        font-size: 3.5rem;
      }

      @media only screen and (max-width: 33.75em) {
        font-size: 3.2rem;
      }

      @media only screen and (max-width: 31.25em) {
        font-size: 2.8rem;
      }

      @media only screen and (max-width: 26.875em) {
        font-size: 2.45rem;
      }

      @media only screen and (max-width: 25em) {
        font-size: 2.3rem;
      }

      @media only screen and (max-width: 23.75em) {
        font-size: 2.15rem;
      }

      @media only screen and (max-width: 21.5em) {
        font-size: 2rem;
      }

      @media only screen and (max-width: 17.5em) {
        font-size: 100%;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 4.5rem;
      }
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 55%;
      height: 5.5rem;
      background-color: $clr-white;
      -webkit-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
      border-radius: 2px;
      overflow: hidden;

      @media only screen and (max-width: 93.75em) {
        width: 58.667%;
      }

      @include xxl {
        width: 62.858%;
      }

      @media only screen and (max-width: 81.25em) {
        width: 67.693%;
      }

      @include xl {
        width: 73.334%;
        height: 5.556rem;
      }

      @media only screen and (max-width: 68.75em) {
        width: 80%;
      }

      @media only screen and (max-width: 56.25em) {
        width: 85%;
        height: 6.25rem;
      }

      @include md {
        width: 80%;
      }

      @media only screen and (max-width: 37.5em) {
        width: 85%;
      }

      @media only screen and (max-width: 33.75em) {
        height: 6rem;
      }

      @media only screen and (max-width: 26.875em) {
        width: 90%;
        height: 5.5rem;
      }

      @media only screen and (max-width: 17.5em) {
        height: 4rem;
      }

      @media only screen and (min-width: 112.5em) {
        width: 70%;
        height: 7rem;
      }

      .searchInput {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1rem;

        .searchIcon {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          margin: 1rem;

          @include xl {
            width: 2.223rem;
            height: 2.223rem;
            margin: 1.111111rem;
          }

          @media only screen and (max-width: 56.25em) {
            width: 3.047rem;
            height: 3.047rem;
            margin: 1.25rem;
          }

          @media only screen and (max-width: 31.25em) {
            width: 2rem;
            height: 2rem;
          }

          @media only screen and (max-width: 17.5em) {
            width: 1.8rem;
            height: 1.8rem;
          }

          @media only screen and (min-width: 112.5em) {
            width: 3rem;
            height: 3rem;
            margin: 1.5rem;
            margin-top: 1.7rem;
          }
        }

        input {
          display: inline-block;
          border: none;
          outline: none;
          appearance: none;
          font-family: inherit;
          font-size: var(--default-font-size);
          width: 100%;
          height: 100%;
          background-color: transparent;
          color: $clr-gray-dark;
          -webkit-box-shadow: none;
          box-shadow: none;
          caret-color: $clr-gray-light;

          @include xl {
            font-size: 1.777778rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.85rem;
          }

          @include md {
            font-size: 1.975rem;
          }

          @media only screen and (min-width: 106.25em) {
            font-size: 1.85rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 2rem;
          }

          &::placeholder {
            font-weight: 500;
            font-size: 1.5rem;
            color: $clr-gray-light;

            @include xl {
              font-size: 1.666665rem;
            }

            @include md {
              font-size: 1.875rem;
            }

            @media only screen and (max-width: 23.4375em) {
              font-size: 1.675rem;
            }

            @media only screen and (min-width: 106.25em) {
              font-size: 1.75rem;
            }

            @media only screen and (min-width: 112.5em) {
              font-size: 2rem;
            }
          }
        }

        .btnClear {
          display: inline-block;
          border: none;
          outline: none;
          font-weight: 700;
          font-size: 1.4rem;
          background-color: transparent;
          color: $clr-gray-dark;
          margin-right: 2rem;
          line-height: 1.6rem;
          cursor: pointer;

          @include xl {
            font-size: 1.55556rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.75rem;
          }

          @media only screen and (max-width: 31.25em) {
            font-size: 1.7rem;
          }

          @media only screen and (max-width: 17.5em) {
            font-size: 1.4rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.8rem;
          }
        }
      }

      .searchBtn {
        display: inline-block;
        border: none;
        outline: none;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 100%;
        width: 15rem;
        height: 8rem;
        background-color: $clr-secondary;
        color: $clr-white;
        cursor: pointer;
        transition: all 0.3s;

        @media only screen and (max-width: 93.75em) {
          height: 12rem;
        }

        @include xxl {
          height: 15rem;
        }

        @media only screen and (max-width: 81.25em) {
          height: 17rem;
        }

        @include xl {
          font-size: 1.77778rem;
        }

        @media only screen and (max-width: 56.25em) {
          width: 17rem;
          font-size: 2rem;
        }

        @media only screen and (max-width: 31.25em) {
          width: 12rem;
          font-size: var(--default-font-size);
        }

        @media only screen and (max-width: 17.5em) {
          width: 10rem;
          font-weight: 500;
          font-size: 1.4rem;
        }

        @media only screen and (min-width: 112.5em) {
          width: 18rem;
          height: 10rem;
          font-size: 2rem;
        }

        &:hover {
          opacity: 0.85;
        }

        &:disabled {
          opacity: 0.7;
          cursor: default;
        }
      }
    }
  }
}
