@import '../../styles/variables';
@import '../../styles/responsive.scss';

.header {
  width: 100vw;
  height: calc(85vh - 12rem);
  background-color: $clr-primary;
  background-image: url(/svg/hero-1.svg), url(/svg/hero-2.svg),
    url(/img/hero.png);
  background-size: contain;
  background-position: center left, center right, center center;
  background-repeat: no-repeat;
  overflow: visible;

  @include lg {
    height: calc(80vh - 12rem);
    background-image: url(/svg/hero-1.svg), url(/svg/hero-2.svg);
    background-position: center left, center right;
  }

  @media only screen and (max-width: 41.5625em) {
    height: calc(70vh - 12rem);
  }

  @media only screen and (max-width: 37.5em) {
    height: calc(60vh - 12rem);
  }

  .container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1 {
      text-align: center;
      font-weight: 500;
      font-size: 3.6rem;
      color: $clr-white;
      line-height: 4.4rem;

      @include lg {
        font-size: 4.5rem;
      }

      @media only screen and (max-width: 46.5625em) {
        font-size: 4rem;
      }

      @media only screen and (max-width: 41.5625em) {
        font-size: 3.75rem;
      }

      @include sm {
        font-size: 2.8rem;
      }
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      height: 5.5rem;
      background-color: $clr-white;
      -webkit-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
      border-radius: 2px;
      overflow: hidden;

      @include lg {
        width: 70%;
        height: 8rem;
      }

      @include md {
        width: 60%;
      }

      @media only screen and (max-width: 46.5625em) {
        width: 80%;
      }

      .searchInput {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1rem;

        .searchIcon {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          margin: 1rem;

          @include lg {
            width: 2.7rem;
            height: 2.7rem;
          }
        }

        input {
          display: inline-block;
          border: none;
          outline: none;
          appearance: none;
          font-family: inherit;
          font-size: var(--default-font-size);
          width: 100%;
          height: 100%;
          background-color: transparent;
          color: $clr-gray-dark;
          -webkit-box-shadow: none;
          box-shadow: none;
          caret-color: $clr-gray-light;

          @include lg {
            font-size: 2.5rem;
          }

          &::placeholder {
            font-weight: 500;
            font-size: 1.5rem;
            color: $clr-gray-light;

            @include lg {
              font-size: 2rem;
            }
          }
        }

        .btnClear {
          display: inline-block;
          border: none;
          outline: none;
          font-weight: 700;
          font-size: 1.4rem;
          background-color: transparent;
          color: $clr-gray-dark;
          margin-right: 2rem;
          line-height: 1.6rem;
          cursor: pointer;

          @include lg {
            font-size: 2rem;
          }
        }
      }

      .searchBtn {
        display: inline-block;
        border: none;
        outline: none;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 100%;
        width: 12rem;
        height: 100%;
        background-color: $clr-secondary;
        color: $clr-white;
        cursor: pointer;
        transition: all 0.3s;

        @include lg {
          width: 17rem;
          font-size: 2rem;
        }

        &:hover {
          opacity: 0.85;
        }

        &:disabled {
          opacity: 0.7;
          cursor: default;
        }
      }
    }
  }
}
