@import '../../styles/variables';
@import '../../styles/responsive.scss';

.navbar {
  display: flex;
  justify-content: center;

  height: 12rem;
  background-color: $clr-white;
  color: $clr-primary;
  box-shadow: $box-shadow;
  z-index: 3000;
  transition: all 0.3s;

  position: sticky;
  top: 0;

  &.active {
    background-color: transparent;
    backdrop-filter: blur(1rem);
    border-bottom: none;
  }

  .wrapper {
    width: 144rem;
    padding: 0 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav {
      display: flex;
      align-items: center;
      gap: 2rem;
      line-height: 1;

      @media only screen and (max-width: 21.875em) {
        gap: 1.5rem;
      }

      a,
      a:link,
      a:active {
        color: inherit;
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: all 0.3s;

        @media only screen and (min-width: 112.5em) {
          gap: 2rem;
        }

        &:hover {
          color: $clr-secondary;
        }

        svg {
          font-size: 3rem;

          @include xl {
            font-size: 3.335rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 3.125rem;
          }

          @include sm {
            font-size: 2.5rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 4rem;
          }
        }

        span {
          font-weight: 700;
          font-size: 1.4rem;
          white-space: nowrap;

          @include xl {
            font-size: 1.55556rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.75rem;
          }

          @include sm {
            font-size: 1.3rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 2rem;
          }
        }
      }

      .user {
        position: relative;
        cursor: pointer;

        &:hover .userMenu {
          right: 0;
          visibility: visible;
          opacity: 1;
          z-index: 1000;
          transition: all 0.5s ease-in;
        }

        .userAvatar {
          display: inline-block;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          object-fit: cover;

          @include xl {
            width: 3.335rem;
            height: 3.335rem;
          }

          @include sm {
            width: 2.5rem;
            height: 2.5rem;
          }

          @media only screen and (min-width: 112.5em) {
            width: 5rem;
            height: 5rem;
          }
        }
      }

      .cart {
        position: relative;
        cursor: pointer;

        &:hover .cartBox {
          right: 0;
          visibility: visible;
          opacity: 1;
          z-index: 1000;
          transition: all 0.5s ease-in;
        }

        .shoppingCartLogo {
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          object-fit: cover;

          @include xl {
            width: 2.667rem;
            height: 2.667rem;
          }

          @include sm {
            width: 2.12;
            height: 2.12;
          }

          @media only screen and (min-width: 112.5em) {
            width: 3.25rem;
            height: 3.25rem;
          }
        }

        .count {
          width: 2rem;
          height: 2rem;
          font-size: 1.2rem;
          background-color: $clr-secondary;
          color: $clr-white;
          border-radius: 50%;
          position: absolute;
          top: -1rem;
          right: -1rem;

          display: flex;
          align-items: center;
          justify-content: center;

          @include xl {
            width: 2.223rem;
            height: 2.223rem;
            font-size: 1.33333rem;
          }

          @media only screen and (min-width: 112.5em) {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.5rem;
          }
        }

        .cartBox {
          position: absolute;
          top: 4rem;
          right: -60rem;
          min-width: 20rem;
          width: 30rem;
          padding: 0.8rem 0.5rem;
          background-color: $clr-white;
          border-radius: 0.8rem;
          -webkit-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
          visibility: hidden;
          opacity: 0;
          z-index: -1;
          overflow: hidden;
          transition: all 0.5s ease-out;
          transition-duration: 700ms;
          cursor: default;
        }
      }

      .search {
        position: relative;
        cursor: pointer;

        &:hover .searchForm {
          right: 0;
          display: block;
          visibility: visible;
          opacity: 1;
          z-index: 1000;
          transition: all 0.5s ease-in;
        }

        .searchMenuIcon {
          display: block;
          width: 2rem;
          height: 2rem;
          object-fit: cover;

          @include xl {
            width: 2.223rem;
            height: 2.223rem;
          }

          @media only screen and (min-width: 112.5em) {
            width: 3.25rem;
            height: 3.25rem;
          }
        }
      }
    }
  }
}
