@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.menusContainer {
  display: flex;
  justify-content: center;
  padding: 12rem;

  @include sm {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }

  .container {
    width: 144rem;

    .headings {
      text-align: center;

      .heading {
        display: flex;
        align-items: center;
        justify-content: center;

        text-transform: uppercase;
        text-align: center;
        text-rendering: optimizeLegibility;
        font-weight: 600;
        font-size: 3.5rem;
        line-height: 1.5;
        color: inherit;

        @include xl {
          font-size: 3.88889rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 4.375rem;
        }

        @include sm {
          font-size: 3.75rem;
        }

        @media only screen and (max-width: 18.75em) {
          font-size: 3rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 3.75rem;
        }
      }

      .box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .icon {
          position: relative;

          &::before,
          &::after {
            content: '';
            display: block;
            width: 9rem;
            height: 1px;
            padding: 1px 0;
            border-top: 1px solid $line;
            border-bottom: 1px solid $line;

            position: absolute;
            top: 2.5rem;

            @include xl {
              width: 11rem;
            }

            @include lg {
              width: 10rem;
            }

            @media only screen and (max-width: 56.25em) {
              width: 12rem;
            }

            @include sm {
              width: 10rem;
            }

            @media only screen and (max-width: 18.75em) {
              width: 7rem;
            }

            @media only screen and (min-width: 112.5em) {
              width: 10.5rem;
            }
          }

          &::before {
            left: 6.5rem;

            @include lg {
              left: 7.5rem;
            }

            @include sm {
              left: 7rem;
            }
          }

          &::after {
            right: 6.5rem;

            @include lg {
              right: 7.5rem;
            }

            @include sm {
              right: 7rem;
            }
          }

          svg {
            font-size: 5rem;
            color: $clr-gray-dark;

            @include xl {
              font-size: 5.557rem;
            }

            @media only screen and (max-width: 56.25em) {
              font-size: 6.25rem;
            }

            @include sm {
              font-size: 5rem;
            }

            @media only screen and (max-width: 18.75em) {
              font-size: 4.5rem;
            }

            @media only screen and (min-width: 112.5em) {
              font-size: 5.834rem;
            }
          }
        }
      }
    }

    .wrapper {
      margin-top: 10rem;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 6rem;

      @include md {
        gap: 3rem;
      }

      @media only screen and (max-width: 40.4375em) {
        gap: 2rem;
      }

      @include sm {
        margin-top: 5rem;
        gap: 5rem;
      }
    }
  }
}
