@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.menusContainer {
  display: flex;
  justify-content: center;
  padding: 12rem;

  @include sm {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }

  .container {
    width: 144rem;

    .headings {
      text-align: center;

      .heading {
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        font-weight: 600;
        font-size: 3.4128rem;
        line-height: 1.5;
        color: inherit;

        @include md {
          font-size: 3rem;
        }
      }

      .box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .icon {
          position: relative;

          &::before,
          &::after {
            content: '';
            display: block;
            width: 9rem;
            height: 1px;
            padding: 1px 0;
            border-top: 1px solid $line;
            border-bottom: 1px solid $line;

            position: absolute;
            top: 2.5rem;
          }

          &::before {
            left: 6.5rem;
          }

          &::after {
            right: 6.5rem;
          }

          svg {
            font-size: 5rem;
            color: $clr-gray-dark;
          }
        }
      }
    }

    .wrapper {
      margin-top: 10rem;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 6rem;

      @include sm {
        margin-top: 5rem;
      }
    }
  }
}
