@import '../../styles/variables.scss';

.menusContainer {
  display: flex;
  justify-content: center;
  padding: 12rem;

  .container {
    width: 144rem;

    .headings {
      text-align: center;

      .heading {
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        font-weight: 600;
        font-size: 3.4128rem;
        line-height: 1.5;
        color: inherit;
      }

      .box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .left,
        .right {
          display: flex;
          flex-direction: column;
          gap: 2.5px;

          .line {
            width: 9.5rem;
            height: 0.5px;
            background-color: $clr-gray-light;
          }
        }

        .icon {
          svg {
            font-size: 5rem;
            color: $clr-gray-dark;
          }
        }
      }
    }

    .wrapper {
      margin-top: 10rem;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 6rem;
    }
  }
}
