@import '../../styles/variables.scss';

.productInfo {
  padding: 1rem 0;
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;

    h3 {
      display: inline-block;
      font-weight: 900;
      font-size: 2.8rem;
      color: inherit;
      margin-bottom: 0.5rem;
    }

    .desc {
      font-size: 1.4rem;
      line-height: 1;
      margin-bottom: 1rem;
    }

    .wrapper {
      display: flex;
      align-items: center;
      gap: 3rem;

      .reviewWrap {
        display: flex;
        align-items: center;
        gap: 3rem;

        .starRating {
          display: flex;
          align-items: center;

          svg {
            fill: #00000059;
          }
        }

        .totalReview {
          font-size: 1.2rem;
          color: #000000de;
        }
      }

      .heartWrap {
        width: 3.6rem;
        height: 3.6rem;
        font-size: var(--default-font-size);
        background-color: $clr-white;
        border-radius: 50%;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
          width: auto;
          height: auto;
          padding: 0.8rem;
          border-radius: 3px;
        }

        .price {
        }
      }
    }

    .quantity {
      input {
      }

      button {
      }
    }
  }
}
