@import '../../styles/variables.scss';

.productInfo {
  padding: 1rem 0;
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;

    h3 {
      display: inline-block;
      font-weight: 900;
      font-size: 2.8rem;
      color: inherit;
      margin-bottom: 0.5rem;
    }

    .desc {
      font-size: 1.4rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
}
