@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.productInfo {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 6rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include xxl {
      width: 110rem;
    }

    @media only screen and (max-width: 81.25em) {
      width: 105rem;
    }

    @media only screen and (max-width: 68.75em) {
      width: 100rem;
    }

    @media only screen and (max-width: 64em) {
      width: 90rem;
    }

    @media only screen and (max-width: 59.375em) {
      width: 85rem;
    }

    @media only screen and (max-width: 53.125em) {
      width: 80rem;
    }

    @include md {
      width: 70rem;
    }

    @media only screen and (max-width: 39.375em) {
      width: 65rem;
    }

    @media only screen and (max-width: 37.5em) {
      width: 60rem;
    }

    @media only screen and (max-width: 34.375em) {
      width: 55rem;
    }

    @media only screen and (max-width: 31.25em) {
      width: 50rem;
    }

    @media only screen and (max-width: 26.25em) {
      width: 45rem;
    }

    @media only screen and (max-width: 23.4375em) {
      width: 42rem;
    }

    @media only screen and (max-width: 21.5em) {
      width: 40rem;
    }

    @media only screen and (max-width: 20.625em) {
      width: 35rem;
    }

    @media only screen and (max-width: 17.5em) {
      width: 32rem;
    }

    @media only screen and (min-width: 112.5em) {
      width: 130rem;
    }

    h3 {
      display: inline-block;
      text-transform: capitalize;
      font-weight: 900;
      font-size: 2.8rem;
      color: inherit;
      margin-bottom: 0.5rem;

      @media only screen and (max-width: 56.25em) {
        font-size: 2.85rem;
      }

      @include sm {
        line-height: 1.2;
        margin-bottom: 2rem;
      }

      @media only screen and (max-width: 26.25em) {
        font-size: 2.68rem;
      }

      @media only screen and (max-width: 25em) {
        font-size: 2.5rem;
      }

      @media only screen and (max-width: 21.5em) {
        font-size: 2.35rem;
      }

      @media only screen and (max-width: 20.625em) {
        font-size: 2rem;
      }

      @media only screen and (max-width: 17.5em) {
        font-size: 1.9rem;
      }

      @media only screen and (min-width: 100.0625em) {
        font-size: 3.3rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 3.5rem;
      }

      @media only screen and (min-width: 125em) {
        font-size: 4.5rem;
      }
    }

    .desc {
      text-align: justify;
      font-size: 1.4rem;
      color: #060505ba;
      line-height: 1.35;
      margin-bottom: 1rem;

      @media only screen and (max-width: 56.25em) {
        font-size: 1.45rem;
      }

      @include md {
        line-height: 1.2;
      }

      @media only screen and (max-width: 28.4375em) {
        line-height: 1.1;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 1.8rem;
      }

      @media only screen and (min-width: 125em) {
        font-size: 2rem;
      }
    }

    .wrapper {
      display: flex;
      align-items: center;
      gap: 3rem;

      @media only screen and (max-width: 17.5em) {
        gap: 1rem;
      }

      .reviewWrap {
        width: 25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        @media only screen and (max-width: 18.75em) {
          gap: 0;
        }

        .starRating {
          display: flex;
          align-items: center;

          svg {
            fill: currentColor;

            @media only screen and (max-width: 56.25em) {
              font-size: 1.65rem;
            }

            @media only screen and (min-width: 112.5em) {
              font-size: 2rem;
            }

            @media only screen and (min-width: 125em) {
              font-size: 2.5rem;
            }
          }
        }

        .totalReview {
          font-size: 1.2rem;
          color: #000000de;
          color: #060505ba;

          @media only screen and (max-width: 56.25em) {
            font-size: 1.25rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.8rem;
          }

          @media only screen and (min-width: 125em) {
            font-size: 2rem;
          }
        }
      }

      .price {
        font-size: 1.2rem;
        color: #000000de;
        color: #060505ba;

        @media only screen and (max-width: 56.25em) {
          font-size: 1.25rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 1.8rem;
        }

        @media only screen and (min-width: 125em) {
          font-size: 2rem;
        }
      }
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 1.3rem;
      margin-top: 2rem;
      position: relative;

      @media only screen and (min-width: 112.5em) {
        gap: 2rem;
      }

      &::before {
        content: '';
        width: 100%;
        height: 1px;
        padding: 1px 0;
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;

        position: absolute;
        top: -1.5rem;
      }

      input {
        display: inline-block;
        border: none;
        outline: none;
        text-align: center;
        font-family: inherit;
        font-weight: 600;
        font-size: var(--default-font-size);
        width: 6rem;
        height: 3.7rem;
        padding: 0.75rem;
        background-color: #fbfbfc;
        color: #00000059;
        border-radius: 0.5rem;
        caret-color: $clr-gray-dark;

        @media only screen and (min-width: 112.5em) {
          font-size: 2rem;
          height: 4.25rem;
          padding: 1.25rem;
        }

        @media only screen and (min-width: 125em) {
          font-size: 2.2rem;
          padding: 1.5rem;
        }
      }

      button {
        border: none;
        outline: none;
        text-align: center;
        font-weight: 400;
        font-size: 1.3rem;
        letter-spacing: 2px;
        line-height: 1.8rem;
        max-width: 15rem;
        height: 3.7rem;
        padding: 1rem 1.5rem;
        background-color: $clr-black;
        color: $clr-white;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        @media only screen and (max-width: 56.25em) {
          font-size: 1.35rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: var(--default-font-size);
          height: 4.25rem;
          padding: 1.75rem 1.5rem;
        }

        @media only screen and (min-width: 125em) {
          font-size: 1.8rem;
          padding: 2.1rem 1.5rem;
        }

        &:hover {
          color: $clr-secondary;
        }

        &:disabled {
          opacity: 0.7;
          cursor: default;
        }

        svg {
          font-size: 1.7rem;
          fill: currentColor;

          @media only screen and (max-width: 56.25em) {
            font-size: 1.75rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.8rem;
          }

          @media only screen and (min-width: 125em) {
            font-size: 2rem;
          }
        }

        span {
          @media only screen and (min-width: 112.5em) {
            width: 2rem !important;
            height: 2rem !important;
          }

          @media only screen and (min-width: 125em) {
            width: 3rem !important;
            height: 3rem !important;
          }
        }
      }
    }
  }
}
