@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.checkoutProducts {
  .checkoutProductBox {
    height: 25.3rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.6rem;

      @include xl {
        width: 0.75rem;
      }
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $clr-primary;
      background-clip: content-box;
      box-shadow: inset 0;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $clr-secondary;
    }
  }

  .checkoutTotal {
    width: 100%;
    display: flex;
    flex-direction: column;

    .checkoutTotalPrice {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 1.5rem 1.5rem 0;

      &:last-child {
        border-bottom: 1px solid $line;
        padding-bottom: 0.5rem;
      }

      span {
        font-weight: 600;
        font-size: 1.3rem;
        color: $clr-gray-dark;

        @include xl {
          font-size: 1.44444rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 1.625rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 1.6rem;
        }

        &:nth-child(2) {
          font-variant: tabular-nums;
        }
      }
    }
  }

  .totalCheckout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem;

    span {
      font-weight: 600;
      font-size: 1.3rem;
      color: inherit;

      @include xl {
        font-size: 1.44444rem;
      }

      @media only screen and (max-width: 56.25em) {
        font-size: 1.625rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 1.6rem;
      }

      &:nth-child(2) {
        font-variant: tabular-nums;
      }
    }
  }
}
