@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.emptyCart {
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  .emptyHeading {
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    color: inherit;

    @media only screen and (max-width: 56.25em) {
      font-size: 1.35rem;
    }

    @media only screen and (min-width: 112.5em) {
      font-size: 1.8rem;
    }

    @media only screen and (min-width: 125em) {
      font-size: 2rem;
    }
  }

  .emptyLink {
    a,
    a:link,
    a:active {
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.3rem;
      padding: 0.8rem 2.4rem;
      background-color: transparent;
      color: $clr-primary;
      border: 1px solid currentColor;
      border-radius: 0.5rem;

      @media only screen and (max-width: 56.25em) {
        font-size: 1.35rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 1.8rem;
      }

      @media only screen and (min-width: 125em) {
        font-size: 2rem;
        padding: 1rem 2.4rem;
      }

      &:visited {
        color: $clr-primary;
      }

      &:hover {
        color: #dc3545;
      }
    }
  }
}
