@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.products {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 12rem 0;

    @include sm {
      padding: 6rem 0;
    }

    @include lg {
      width: 144rem;
    }

    h3 {
      font-weight: 500;
      font-size: 2.8rem;
      color: $clr-black;
      line-height: 1.2;
      margin-bottom: 3rem;
      margin-left: 9rem;
      position: relative;

      display: flex;
      align-items: baseline;
      gap: 3rem;

      @media only screen and (max-width: 81.25em) {
        margin-left: 6rem;
      }

      @include lg {
        margin-left: 3rem;
      }

      @media only screen and (max-width: 50em) {
        margin-left: 5rem;
      }

      @include md {
        margin-left: 18.7rem;
      }

      @media only screen and (max-width: 36.875em) {
        margin-left: 19.4rem;
      }

      @media only screen and (max-width: 34.375em) {
        margin-left: 33.4rem;
      }

      @include sm {
        flex-direction: column;
        gap: 1rem;
        margin-left: 15rem;
      }

      @media only screen and (max-width: 21.5em) {
        margin-left: 33.5rem;
      }

      @media only screen and (max-width: 20em) {
        font-size: 2.5rem;
        margin-left: 36.5rem;
      }

      @media only screen and (max-width: 17.5em) {
        font-size: 2rem;
        margin-left: 35.5rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 3.33333rem;
        margin-bottom: 5rem;
        margin-left: 0;
      }

      &::after {
        display: inline-block;
        content: '';
        width: 43.5rem;
        height: 1px;
        padding: 1px 0;
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;

        position: absolute;
        top: 50%;
        right: 9rem;
        transform: translateY(-50%);

        @include lg {
          display: none;
        }

        @media only screen and (min-width: 112.5em) {
          right: 1.5rem;
        }
      }

      small {
        font-size: 0.875em;
        color: $clr-gray-dark;

        a,
        a:link,
        a:active {
          font-weight: 600;
          font-size: inherit;
          color: $clr-gray-dark;
          transition: all 0.3s;

          &:visited {
            color: $clr-gray-dark;
          }

          &:hover {
            color: $clr-secondary;
          }
        }
      }
    }

    .btnContainer {
      margin-top: 3rem;
      text-align: center;
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;

      &.show {
        display: block;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
      }

      button {
        all: unset;
        display: inline-block;
        font-weight: 400;
        font-size: 1.3rem;
        width: 20rem;
        max-width: 20rem;
        height: 5rem;
        line-height: 2.34rem;
        background-color: $clr-black;
        color: $clr-white;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s;

        @include xl {
          font-size: 1.45rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 1.63rem;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 1.5rem;
        }

        &:hover {
          color: $clr-secondary;
        }

        &:disabled {
          opacity: 0.7;
          cursor: default;
        }
      }
    }
  }
}
