@import '../../styles/variables.scss';

.products {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 12rem 0;

    .heading {
      font-weight: 500;
      font-size: 2.8rem;
      color: $clr-black;

      display: flex;
      align-items: baseline;
    }
  }
}
