@import '../../styles/variables.scss';

.products {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 12rem 0;

    h3 {
      font-weight: 500;
      font-size: 2.8rem;
      color: $clr-black;
      line-height: 1.2;
      margin-bottom: 3rem;

      display: flex;
      align-items: baseline;
      gap: 3rem;

      small {
        font-size: 0.875em;
        color: $clr-gray-dark;
        
        a,
        a:link,
        a:active {
          font-size: inherit;
          color: $clr-gray-dark;
          transition: all 0.3s;
          
          &:visited {
            color: $clr-gray-dark;
          }

          &:hover {
            color: $clr-secondary;
          }
        }
      }
    }
  }
}
