@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;

  label {
    display: inline-block;
    font-weight: lighter;
    font-size: 1.35rem;
    color: inherit;
    cursor: pointer;

    @include lg {
      font-size: 1.45rem;
    }

    @media only screen and (max-width: 56.25em) {
      font-size: 1.625rem;
    }

    @media only screen and (max-width: 23.4375em) {
      font-size: 1.45rem;
    }

    @media only screen and (min-width: 112.5em) {
      font-size: 1.66667rem;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2.25rem;

    input {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $clr-gray-light;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 2.4rem;

    &::before {
      display: inline-block;
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      background-color: $clr-white;
      border-radius: 50%;
      position: absolute;
      left: 4px;
      bottom: 4px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider::before {
    -webkit-transform: translateX(1.7rem);
    -ms-transform: translateX(1.7rem);
    transform: translateX(1.7rem);
  }
}
