.order {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 8rem 0;

    .orderBox {
      .orderWrap {
        h1 {
        }

        p {
        }
      }

      .stepper {
        list-style: none;
        width: 100%;
        display: flex;
      }
    }
  }
}
