@import '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';

.order {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 8rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 37.5em) {
      padding: 8rem 3rem;
    }

    .orderBox {
      width: 51rem;
      padding: 2rem;
      background-color: transparent;
      box-shadow: $box-shadow;
      border-radius: 1.5rem;

      @include xl {
        width: 55.556rem;
        padding: 2.22222rem;
      }

      @media only screen and (max-width: 56.25em) {
        width: 63.75rem;
        padding: 2.5rem;
      }

      @media only screen and (max-width: 37.5em) {
        width: 60rem;
        padding: 1.5rem;
      }

      @include sm {
        width: 50rem;
      }

      @media only screen and (min-width: 112.5em) {
        width: 65rem;
      }

      .orderDetail {
        .orderHeading {
          display: flex;
          align-items: center;
          justify-content: space-between;

          text-transform: capitalize;
          font-weight: 600;
          font-size: 2.8rem;
          color: #6b6b83;
          line-height: 1.3;

          @include xl {
            font-size: 3.11111rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 3.5rem;
          }

          @media only screen and (max-width: 37.5em) {
            font-size: 3rem;
          }

          @include sm {
            font-size: 2.875rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 3.7rem;
          }

          &::after {
            display: inline-block;
            content: '';
            width: 28rem;
            height: 1px;
            padding: 1px 0;
            border-top: 1px solid $line;
            border-bottom: 1px solid $line;

            @media only screen and (max-width: 56.25em) {
              width: 32rem;
            }

            @include sm {
              width: 25rem;
            }

            @media only screen and (min-width: 112.5em) {
              width: 32rem;
            }
          }
        }

        .orderContainer {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          margin-top: 2rem;

          .orderItem {
            display: flex;
            flex-direction: column;
            width: 15rem;
            margin-bottom: 1rem;

            @media only screen and (max-width: 56.25em) {
              width: 18.75rem;
            }

            @media only screen and (min-width: 112.5em) {
              width: 18rem;
            }

            h3 {
              display: inline-block;
              font-weight: 600;
              font-size: 1.4rem;
              color: #6b6b83;
              line-height: 1;

              @include xl {
                font-size: 1.55555rem;
              }

              @media only screen and (max-width: 56.25em) {
                font-size: 1.75rem;
              }

              @media only screen and (min-width: 112.5em) {
                font-size: 1.8rem;
              }
            }

            span,
            time {
              display: inline-block;
              font-size: 1.3rem;
              color: $clr-gray-dark;

              @include xl {
                font-size: 1.44445rem;
              }

              @media only screen and (max-width: 56.25em) {
                font-size: 1.625rem;
              }

              @media only screen and (min-width: 112.5em) {
                font-size: 1.7rem;
              }
            }

            .orderTotal {
              font-variant: tabular-nums;
            }
          }
        }
      }

      hr {
        height: 0;
        border: 0.1px solid $line;
        opacity: 0.3;
        margin: 1.5rem 0;
      }

      .orderStatus {
        .orderWrap {
          margin-bottom: 1rem;

          h2 {
            display: inline-block;
            font-weight: 600;
            font-size: 2.25rem;
            color: #6b6b83;
            line-height: 1.3;

            @include xl {
              font-size: 2.5rem;
            }

            @media only screen and (max-width: 56.25em) {
              font-size: 2.8125rem;
            }

            @media only screen and (max-width: 37.5em) {
              font-size: 2.25rem;
            }

            @media only screen and (min-width: 112.5em) {
              font-size: 2.8rem;
            }
          }

          p {
            color: $clr-gray-dark;
            font-size: 1.3rem;

            @include xl {
              font-size: 1.44445rem;
            }

            @media only screen and (max-width: 56.25em) {
              font-size: 1.625rem;
            }

            @media only screen and (min-width: 112.5em) {
              font-size: 1.7rem;
            }

            b {
              font-size: 100%;
              color: #6b6b83;
            }
          }
        }

        .stepper {
          list-style: none;
          width: 100%;
          display: flex;
          margin-bottom: 2rem;

          li {
            display: inline-block;
            position: relative;
            margin-top: 3.2rem;

            .item {
              width: 10rem;
              text-align: left;
              text-transform: capitalize;
              font-weight: 600;
              font-size: 1.4rem;
              color: #6b6b83;
              line-height: 1.2;
              position: relative;
              margin-left: auto;
              margin-right: 0;
              padding-top: 0.8rem;
              z-index: 1;

              @include xl {
                font-size: 1.55555rem;
                padding-top: 0.888889rem;
              }

              @media only screen and (max-width: 56.25em) {
                font-size: 1.75rem;
                padding-top: 1rem;
              }

              @media only screen and (min-width: 112.5em) {
                font-size: 1.8rem;
                padding-top: 2.5rem;
              }

              &::before {
                display: flex;
                align-items: center;
                justify-content: center;

                content: '\2713';
                width: 3.2rem;
                height: 3.2rem;
                color: $clr-white;
                position: absolute;
                top: -3.2rem;
                left: -7rem;
                right: 0;
                margin: auto;
                border-radius: 50%;
                box-sizing: border-box;

                @include xl {
                  width: 3.556rem;
                  height: 3.556rem;
                }

                @media only screen and (max-width: 56.25em) {
                  width: 4rem;
                  height: 4rem;
                }

                @media only screen and (min-width: 112.5em) {
                  width: 5rem;
                  height: 5rem;
                }
              }
            }
          }

          .ready::before {
            background-color: #dddddd;
          }

          .ready > .item::before {
            background-color: #dddddd;
          }

          .done::before {
            background-color: #31c07e;
          }

          .done > .item::before {
            background-color: #31c07e;
          }

          li + li {
            flex-grow: 1;
            display: flex;
            flex-direction: row;

            &::before {
              display: block;
              content: '';
              position: absolute;
              left: -70%;
              top: -1.6rem;
              width: 100%;
              height: 4px;

              @media only screen and (min-width: 112.5em) {
                top: -0.8rem;
              }
            }
          }
        }

        .brand {
          font-size: 1.3rem;
          color: $clr-gray-dark;

          @include xl {
            font-size: 1.44445rem;
          }

          @media only screen and (max-width: 56.25em) {
            font-size: 1.625rem;
          }

          @media only screen and (min-width: 112.5em) {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}
