@import '../../../styles/variables.scss';

.order {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 8rem 0;

    .orderBox {
      width: 40rem;
      padding: 2rem;
      background-color: $clr-tertiary;

      .orderWrap {
        h1 {
        }

        p {
        }
      }

      .stepper {
        list-style: none;
        width: 100%;
        display: flex;
      }
    }
  }
}
