@import '../../styles/variables.scss';

.accountPassword {
  .accountHeading {
  }

  form {
    .passwordInputWrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;

      & > * {
        width: 49%;

        input {
          height: 0;
          padding: 2.25rem 2rem;
          border: 1px solid $line;
          box-shadow: none;
        }
      }
    }
  }
}
