@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.accountPassword {
  margin: 5rem 0;

  .accountHeading {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    position: relative;

    @include xl {
      font-size: 2rem;
    }

    @media only screen and (max-width: 56.25em) {
      font-size: 2.25rem;
    }

    @media only screen and (min-width: 112.5em) {
      font-size: 2.25rem;
    }

    &::before,
    &::after {
      content: '';
      width: 38%;
      height: 1px;
      padding: 1px 0;
      border-top: 1px solid $line;
      border-bottom: 1px solid $line;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @include xl {
        width: 35%;
      }

      @media only screen and (max-width: 56.25em) {
        width: 33%;
      }

      @include md {
        width: 30%;
      }

      @media only screen and (max-width: 37.5em) {
        width: 25%;
      }

      @include sm {
        width: 20%;
      }

      @media only screen and (max-width: 27.75em) {
        display: none;
      }

      @media only screen and (min-width: 112.5em) {
        width: 34%;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .passwordInputWrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;

      @media only screen and (max-width: 34em) {
        flex-direction: column;
      }

      & > * {
        width: 49%;

        @media only screen and (max-width: 34em) {
          width: 100%;
        }

        input {
          height: 0;
          padding: 3rem 2rem;
          border: 1px solid $line;
          box-shadow: none;
        }
      }

      .icon {
        top: 4.75rem;

        @include xl {
          top: 5rem;
        }
      }
    }

    .passwordBtnWrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;

      @media only screen and (max-width: 34em) {
        margin-top: 1rem;
      }

      button {
        justify-self: flex-end;
        display: inline-block;
        border: none;
        outline: none;
        text-align: center;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1.35rem;
        width: fit-content;
        max-width: 24rem;
        padding: 1.655rem 6rem;
        background-color: $clr-yellow;
        color: $clr-secondary;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s;

        @include xl {
          font-size: 1.5rem;
        }

        @media only screen and (max-width: 56.25em) {
          max-width: 27rem;
          font-size: 1.6875rem;
        }

        @media only screen and (max-width: 34em) {
          max-width: 100%;
          width: 100%;
        }

        @media only screen and (min-width: 112.5em) {
          max-width: max-content;
          font-size: 1.75rem;
        }

        &:hover {
          background-color: $clr-secondary;
          color: $clr-yellow;
        }

        &:disabled {
          opacity: 0.7;
          cursor: default;
        }
      }
    }
  }
}
