@import '../../styles/variables.scss';

.accountPassword {
  margin: 5rem 0;

  .accountHeading {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  form {
    .passwordInputWrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;

      & > * {
        width: 49%;

        input {
          height: 0;
          padding: 2.25rem 2rem;
          border: 1px solid $line;
          box-shadow: none;
        }
      }
    }

    .passwordBtnWrap {
      display: block;
      align-items: center;
      justify-content: flex-end;
      text-align: right;

      button {
        justify-self: flex-end;
        all: unset;
        display: inline-block;
        text-align: center;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1.4rem;
        width: fit-content;
        padding: 0.5rem 6rem;
        background-color: $clr-yellow;
        color: $clr-secondary;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: $clr-secondary;
          color: $clr-yellow;
        }

        &:disabled {
          opacity: 0.7;
          cursor: default;
        }
      }
    }
  }
}
