@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.sidebar {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  right: -100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.77, 0.2, 0.05, 1),
    cubic-bezier(0.77, 0.2, 0.05, 1), cubic-bezier(0.77, 0.2, 0.05, 1);

  &.show {
    display: none;

    @media only screen and (max-width: 30em) {
      right: 0;
      display: block;
      visibility: visible;
      opacity: 1;
      z-index: 5000;
    }
  }

  .container {
    position: absolute;
    right: -100%;

    width: 30rem;
    min-height: 35rem;
    padding: 2.4rem;
    background-color: $clr-white;
    box-shadow: $box-shadow;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.77, 0.2, 0.05, 1),
      cubic-bezier(0.77, 0.2, 0.05, 1), cubic-bezier(0.77, 0.2, 0.05, 1);

    &.active {
      right: 0;
    }

    .lists {
      list-style: none;
      padding-top: 2rem;

      li {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem 0;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
          border-bottom: 1px solid $line;
        }

        &:last-child {
          padding-bottom: 0;
        }

        img {
          width: 2.25rem;
          height: 2.25rem;
        }

        a,
        a:link,
        a:active {
          display: flex;
          align-items: center;
          gap: 1rem;

          font-weight: 400;
          font-size: 1.625rem;
          color: $clr-gray-dark;

          svg {
            font-size: 2.25rem;
            fill: $clr-primary;
          }

          img {
            width: 2.25rem;
            height: 2.25rem;
          }
        }
      }
    }

    .search {
      margin-top: 2rem;
      border-top: 1px solid $line;
      position: relative;

      form {
        width: 100%;
        padding: 1rem 0;

        input {
          display: inline-block;
          border: none;
          outline: none;
          appearance: none;
          font-family: inherit;
          font-size: var(--default-font-size);
          width: 100%;
          padding: 1.25rem 2rem;
          padding-left: 3.5rem;
          padding-right: 0.5rem;
          background-color: $clr-white;
          color: $clr-gray-dark;
          box-shadow: inset $box-shadow;
          border-radius: 0.8rem;
          caret-color: $clr-gray-light;

          &::placeholder {
            font-weight: 300;
            font-size: 1.5rem;
            color: $clr-gray-light;
          }
        }
      }

      img.searchIcon {
        position: absolute;
        top: 2.6rem;
        left: 1rem;
        width: 1.7rem;
        height: 1.7rem;
      }
    }

    .userBox {
      border-top: 1px solid $line;

      .currentUser {
        text-align: left;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1.5rem;
        padding-top: 1rem;
        line-height: 1.7;
        cursor: default;

        span {
          color: #000000de;
          white-space: nowrap;
          margin-right: 0.5rem;
        }

        button {
          all: unset;
          display: inline-block;
          color: $clr-primary;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            color: $clr-secondary;
          }

          &:disabled {
            opacity: 0.7;
            cursor: default;
          }
        }
      }

      .userAuth {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding-top: 1rem;

        .loginLink,
        .registerLink {
          &:link,
          &:active {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            font-size: 1.5rem;
            padding: 0.5rem 1.6rem;
            border-radius: 0.5rem;

            .loginLogo,
            .registerLogo {
              display: inline-block;
              width: 1.625rem;
              height: 1.625rem;
              object-fit: cover;
            }
          }
        }

        .loginLink {
          background-color: $clr-secondary;
          color: $clr-white;
          border: 1px solid transparent;
        }

        .registerLink {
          background-color: transparent;
          color: $clr-primary;
          border: 1px solid currentColor;
          border-radius: 0.5rem;
          transition: all 0.3s;
        }
      }
    }

    .btnCloseWrap {
      position: absolute;
      top: 3px;
      right: 3px;

      .btnClose {
        all: unset;
        display: inline-block;
        background-color: transparent;
        cursor: pointer;

        img {
          display: block;
          width: 3.125rem;
          height: 3.125rem;
          object-fit: cover;
        }
      }
    }
  }
}
