@import '../../styles/variables.scss';

.sidebar {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 5000;

  .container {
    width: 30rem;
    padding: 2.4rem;
    background-color: $clr-white;
    box-shadow: $box-shadow;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
}
