@import '../../styles/variables.scss';

.sidebar {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 5000;

  .container {
    position: absolute;
    right: 0;

    width: 30rem;
    min-height: 35rem;
    padding: 2.4rem;
    background-color: $clr-white;
    box-shadow: $box-shadow;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;

    .lists {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.25rem;

        img {
          width: 2.7rem;
          height: 2.7rem;
        }

        a,
        a:link,
        a:active {
          display: flex;
          align-items: center;
          gap: 1rem;

          font-weight: 400;
          font-size: 1.75rem;
          color: inherit;

          svg {
            font-size: 2.8rem;
            fill: $clr-primary;
          }

          img {
            width: 2.7rem;
            height: 2.7rem;
          }
        }
      }
    }

    .userBox {
      .currentUser {
      }

      .userAuth {
        .loginLink,
        .registerLink {
          &:link,
          &:active {
            display: flex;
            align-items: center;
            justify-content: space-between;

            font-size: 1.3rem;
            padding: 0.8rem 1.6rem;
            border-radius: 0.5rem;

            .loginLogo,
            .registerLogo {
              display: inline-block;
              width: 1.3rem;
              height: 1.3rem;
              object-fit: cover;
            }
          }
        }

        .loginLink {
          background-color: $clr-secondary;
          color: $clr-white !important;
        }

        .registerLink {
          background-color: transparent;
          color: $clr-primary;
          border: 1px solid currentColor;
          border-radius: 0.5rem;
          transition: all 0.3s;
        }
      }
    }

    .search {
      form {
        input {
        }

        img.searchIcon {
        }
      }
    }
  }
}
