@import '../../styles/variables.scss';

.sidebar {
  position: fixed;
  top: 12rem;
  right: 0;
  width: 30rem;
  padding: 3rem 1.2rem;
  background-color: $clr-white;
  box-shadow: $box-shadow;
}
