@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.features {
  display: flex;
  justify-content: center;
  padding: 10rem 0;

  @media only screen and (min-width: 112.5em) {
    padding: 12rem 0;
  }

  .container {
    width: 120rem;

    @media only screen and (min-width: 112.5em) {
      width: 144rem;
    }

    .wrapper {
      width: 100%;

      .items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;

        @include md {
          flex-direction: column;
          gap: 7rem;
        }

        @include sm {
          gap: 5rem;
        }

        @media only screen and (max-width: 18.75em) {
          gap: 3rem;
        }
      }
    }
  }
}
