@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.features {
  display: flex;
  justify-content: center;
  padding: 10rem 0;

  .container {
    width: 120rem;

    .wrapper {
      width: 100%;

      .items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;

        @include md {
          flex-direction: column;
          gap: 7rem;
        }
      }
    }
  }
}
