@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.status {
  display: none;

  &.order {
    margin: 1rem 0;

    @media only screen and (max-width: 26.875em) {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .statusText {
      font-weight: 600;
      font-size: 1.35rem;
      color: #6b6b83;
    }

    .notPaid,
    .preparing,
    .onTheWay,
    .delivered {
      font-weight: 500;
      font-size: 1.35rem;
      padding: 4px;
      border-radius: 0.5rem;
    }

    .notPaid {
      color: $clr-primary;
      background-color: rgb(255, 0, 24, 0.15);
    }

    .preparing {
      color: rgb(241, 207, 128, 0.94);
      background-color: rgb(241, 207, 128, 0.18);
    }

    .onTheWay {
      color: $clr-yellow;
      background-color: #ffc04345;
    }

    .delivered {
      color: $clr-green;
      background-color: #28a74545;
    }
  }

  @media only screen and (max-width: 24.375em) {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      font-size: 1.35rem;
      color: $clr-gray-dark;

      @media only screen and (max-width: 18.75em) {
        font-size: 1.2rem;
      }
    }

    .statusText {
      font-weight: 700;
    }

    .notPaid,
    .preparing,
    .onTheWay,
    .delivered {
      font-weight: 500;
      font-size: 1.35rem;
      padding: 4px;
      border-radius: 0.5rem;
      line-height: 1.4;

      @media only screen and (max-width: 18.75em) {
        font-size: 1.2rem;
      }
    }

    .notPaid {
      color: $clr-primary;
      background-color: rgb(255, 0, 24, 0.15);
    }

    .preparing {
      color: rgb(241, 207, 128, 0.94);
      background-color: rgb(241, 207, 128, 0.18);
    }

    .onTheWay {
      color: $clr-yellow;
      background-color: #ffc04345;
    }

    .delivered {
      color: $clr-green;
      background-color: #28a74545;
    }
  }
}
