@import '../../styles/variables.scss';

.footer {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  background-color: $clr-black;
  color: $clr-white;

  .wrapper {
    width: 144rem;

    .top {
      display: flex;
      justify-content: space-between;

      .left {
        flex: 1;

        .logoBox {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 12rem;

          .download {
            display: flex;
            align-items: center;
            gap: 2rem;

            img {
              width: 13.5rem;
              height: 4rem;
              display: inline-block;
              object-fit: cover;
              cursor: pointer;
            }
          }
        }
      }

      .right {
        flex: 1;
        display: flex;
        gap: 10rem;

        .links {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;

          a,
          a:link,
          a:active {
            text-decoration-color: $clr-black;
            text-decoration-line: none;
            text-decoration-style: solid;
            text-decoration-thickness: auto;
            font-weight: 400;
            font-size: 1.5rem;
            color: $clr-white;
            line-height: 2.4rem;
            transition: all 0.3s;

            display: flex;
            align-items: center;
            gap: 0.8rem;

            &:hover {
              text-decoration: underline;
              text-underline-offset: 0.5rem;
              text-decoration-color: $clr-primary;
            }

            img {
              width: 1.6rem;
              height: 1.6rem;
            }
          }
        }
      }
    }

    hr {
      height: 0;
      border: 0.5px solid $clr-primary;
      margin: 5rem 0;
    }

    .bottom {
      display: flex;

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;

        h6 {
          color: currentColor;
          font-weight: 900;
          font-size: var(--default-font-size);
          margin-bottom: 2rem;
        }

        .socials {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 2rem;

          li {
            list-style: none;
            width: 4rem;
            height: 4rem;
            color: $clr-primary;
            border: 1px solid currentColor;
            border-radius: 3px;
            transition: all 0.3s;

            &:hover {
              color: #ada3a3;
              transform: translateY(-0.5rem);
              transition: 0.3s;
            }

            a,
            a:link,
            a:active {
              width: 100%;
              height: 100%;
              color: $clr-primary;
              transition: all 0.3s;

              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                color: #ada3a3;
                transform: rotate(25deg);
                transition: 0.3s;
              }

              svg {
                font-size: 2rem;
                color: currentColor;
              }
            }
          }
        }
      }

      .right {
        flex: 3;
        align-self: flex-end;
        text-align: right;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        .menus {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 2rem;

          a,
          a:link,
          a:active {
            color: $clr-white;
            font-weight: 400;
            font-size: 1.4rem;
            transition: all 0.3s;

            &:hover,
            &:visited {
              text-decoration: underline;
              text-underline-offset: 0.5rem;
              text-decoration-color: $clr-primary;
            }
          }
        }

        .security {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 2rem;

          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 1rem;

          a,
          a:link,
          a:active {
            color: $clr-white;
            transition: all 0.3s;

            &:hover,
            &:visited {
              text-decoration: underline;
              text-underline-offset: 0.5rem;
              text-decoration-color: $clr-primary;
            }
          }
        }
      }
    }
  }
}
