@import '../../styles/variables.scss';

.footer {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  background-color: $clr-black;
  color: $clr-white;

  .wrapper {
    width: 144rem;

    .top {
      display: flex;
      justify-content: space-between;

      .left {
        flex: 1;

        .logoBox {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 12rem;

          .download {
            display: flex;
            align-items: center;
            gap: 2rem;

            img {
              width: 13.5rem;
              height: 4rem;
              display: inline-block;
              object-fit: cover;
              cursor: pointer;
            }
          }
        }
      }

      .right {
        flex: 1;
        display: flex;
        gap: 10rem;

        .links {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;

          a,
          a:link,
          a:active {
            text-decoration-color: $clr-black;
            text-decoration-line: none;
            text-decoration-style: solid;
            text-decoration-thickness: auto;
            font-weight: 400;
            font-size: 1.5rem;
            color: $clr-white;
            line-height: 2.4rem;
            transition: all 0.3s;

            &:hover {
              text-decoration: underline;
              text-underline-offset: 0.5rem;
              text-decoration-color: $clr-secondary;
            }
          }
        }
      }
    }

    .bottom {
    }
  }
}
