@import '../../styles/variables.scss';

.footer {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  background-color: $clr-black;
  color: $clr-white;

  .wrapper {
    width: 144rem;

    .top {
      display: flex;
      justify-content: space-between;

      .left {
        flex: 1;

        .logoBox {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 12rem;

          .download {
          }
        }
      }

      .right {
        flex: 1;
      }
    }

    .bottom {
    }
  }
}
