.emptyState {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
