@import '../../styles/responsive.scss';

.relatedCardSkeleton {
  outline: none;

  .relatedCardBox {
    span.react-loading-skeleton {
      width: 22rem !important;
      height: 17rem !important;

      @include lg {
        width: 24.5rem !important;
      }

      @media only screen and (max-width: 59.375em) {
        width: 22.5rem !important;
      }

      @media only screen and (max-width: 53.125em) {
        width: 21rem !important;
      }

      @include md {
        width: 19rem !important;
      }

      @media only screen and (max-width: 39.375em) {
        width: 28rem !important;
      }

      @media only screen and (max-width: 37.5em) {
        width: 16rem !important;
        height: 13rem !important;
      }

      @media only screen and (max-width: 34.375em) {
        width: 23rem !important;
      }

      @media only screen and (max-width: 31.25em) {
        width: 21rem !important;
      }

      @media only screen and (max-width: 23.4375em) {
        width: 19.5rem !important;
      }

      @media only screen and (max-width: 21.5em) {
        width: 18.5rem !important;
      }

      @media only screen and (max-width: 20.9375em) {
        width: 35rem !important;
        height: 30rem !important;
      }

      @media only screen and (min-width: 112.5em) {
        width: 30.25rem !important;
        height: 23rem !important;
      }
    }
  }

  .relatedCardContent {
    text-align: center;
    min-height: 11.7rem;
    padding: 2.3rem 0 1.4rem;
    background-color: #fdfdfd;

    @media only screen and (max-width: 34.6875em) {
      min-height: 10rem;
    }

    @include sm {
      min-height: 11.7rem;
    }

    @media only screen and (max-width: 25em) {
      min-height: 10rem;
    }

    @media only screen and (max-width: 19.9375em) {
      min-height: 11.7rem;
    }

    span.react-loading-skeleton {
      width: 80%;
    }
  }
}
