@import '../../styles/variables.scss';

.profile {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 10rem 0;

    display: flex;
    justify-content: space-between;

    .left {
      flex: 1;
      padding: 0 3rem;

      h1 {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 2.3rem;
        color: inherit;
      }

      .menuWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .menuItem {
          display: flex;
          align-items: center;
          gap: 2rem;
          padding: 1.2rem 0.5rem;

          svg {
            font-size: 2.5rem;
            fill: $clr-primary;
          }

          a,
          a:link,
          a:active {
            text-transform: capitalize;
            font-weight: 400;
            font-size: 1.5rem;
            color: $clr-gray-dark;
          }
        }
      }
    }

    .right {
      flex: 4;
      background-color: greenyellow;
    }
  }
}
