@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.profile {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 10rem 3rem;

    .profileHeader {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 2.3rem;
      line-height: 0;
      padding: 0 0.5rem;
      color: inherit;
      margin-bottom: 5rem;
      margin-left: 3rem;
      position: relative;

      @include xl {
        font-size: 2.55555rem;
      }

      @media only screen and (max-width: 68.75em) {
        margin-left: 0;
      }

      @media only screen and (max-width: 56.25em) {
        font-size: 2.875rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 3rem;
      }

      &::after {
        content: '';
        display: block;
        width: 81.5%;
        height: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;

        position: absolute;
        top: 50%;
        left: 25rem;
        transform: translateY(-50%);

        @include xl {
          width: 81.5%;
          left: 23rem;
        }

        @media only screen and (max-width: 68.75em) {
          width: 81%;
          left: 20rem;
        }

        @media only screen and (max-width: 59.375em) {
          width: 80%;
        }

        @media only screen and (max-width: 56.25em) {
          width: 78%;
          left: 23rem;
        }

        @media only screen and (max-width: 50em) {
          width: 75.5%;
        }

        @include md {
          width: 74%;
        }

        @media only screen and (max-width: 45.9375em) {
          width: 73%;
        }

        @media only screen and (max-width: 43.75em) {
          width: 72%;
        }

        @media only screen and (max-width: 42.5em) {
          left: 21rem;
        }

        @media only screen and (max-width: 37.5em) {
          width: 70%;
        }

        @media only screen and (max-width: 36.25em) {
          width: 67%;
        }

        @media only screen and (max-width: 32.5em) {
          width: 65%;
        }

        @media only screen and (max-width: 31.25em) {
          width: 63%;
        }

        @include sm {
          width: 60%;
        }

        @media only screen and (max-width: 27.75em) {
          width: 57%;
        }

        @media only screen and (max-width: 25.875em) {
          width: 53%;
        }

        @media only screen and (max-width: 23.4375em) {
          width: 48%;
        }

        @media only screen and (max-width: 21.5em) {
          width: 42%;
        }

        @media only screen and (max-width: 18.75em) {
          display: none;
        }

        @media only screen and (min-width: 112.5em) {
          width: 79%;
          left: 30rem;
        }
      }
    }

    .profileWrap {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      @include lg {
        flex-direction: column;
        gap: 5rem;
      }
    }
  }
}
