@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.designer {
  text-align: center;
  padding: 1.6rem;
  background-color: transparent;
  color: $clr-black;

  .wrapper {
    padding: 0 3rem;

    .copyright {
      .text {
        font-weight: 400;
        font-size: 1.3rem;
        text-align: center;
        letter-spacing: 2px;

        @include md {
          font-size: 100%;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}
