@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.designer {
  text-align: center;
  padding: 1.6rem;
  background-color: transparent;
  color: $clr-black;

  @include xl {
    padding: 1.77778rem;
  }

  .wrapper {
    padding: 0 3rem;

    .copyright {
      .text {
        font-weight: 400;
        font-size: 1.3rem;
        text-align: center;
        letter-spacing: 2px;

        @include xl {
          font-size: 1.44445rem;
        }

        @media only screen and (max-width: 56.25em) {
          font-size: 1.625rem;
        }

        @media only screen and (max-width: 37.5em) {
          letter-spacing: 1.5px;
        }

        @media only screen and (max-width: 18.75em) {
          font-size: 1.5rem;
          letter-spacing: 1px;
        }

        @media only screen and (min-width: 112.5em) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
