@import '../../styles/responsive.scss';

.search {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 12rem 0;

    @include sm {
      padding: 6rem 0;
    }

    @include lg {
      width: 144rem;
    }
  }
}
