@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.search {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 12rem 0;

    @include lg {
      width: 114rem;
    }

    @media only screen and (max-width: 59.375em) {
      width: 108rem;
    }

    @include md {
      width: 104rem;
    }

    @include sm {
      padding: 6rem 0;
    }

    h3 {
      font-weight: 500;
      font-size: 2.8rem;
      color: $clr-black;
      line-height: 1.2;
      margin-bottom: 3rem;
      margin-left: 6rem;
      position: relative;

      display: flex;
      align-items: baseline;
      gap: 1rem;

      @media only screen and (max-width: 81.25em) {
        margin-left: 7.5rem;
      }

      @include xl {
        margin-left: 6rem;
      }

      @media only screen and (max-width: 50em) {
        margin-left: 7rem;
      }

      @include md {
        margin-left: 18.7rem;
      }

      @media only screen and (max-width: 36.875em) {
        margin-left: 19.4rem;
      }

      @media only screen and (max-width: 34.375em) {
        margin-left: 34.4rem;
      }

      @include sm {
        flex-wrap: wrap;
      }

      @media only screen and (max-width: 20em) {
        font-size: 2.5rem;
        margin-left: 36.5rem;
      }

      @media only screen and (max-width: 17.5em) {
        font-size: 2rem;
        margin-left: 37rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 3.33333rem;
        margin-bottom: 5rem;
        margin-left: 0;
      }

      &::after {
        display: inline-block;
        content: '';
        width: 35rem;
        height: 1px;
        padding: 1px 0;
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;

        position: absolute;
        top: 50%;
        right: 6rem;
        transform: translateY(-50%);

        @media only screen and (max-width: 81.25em) {
          right: 4.5rem;
        }

        @include xl {
          right: 6rem;
        }

        @include lg {
          display: none;
        }

        @media only screen and (min-width: 112.5em) {
          right: 0;
        }
      }

      small {
        font-size: 0.875em;
        color: $clr-gray-dark;
      }
    }
  }
}
