@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.search {
  display: flex;
  justify-content: center;

  .container {
    width: 120rem;
    padding: 12rem 0;

    @media only screen and (max-width: 68.75em) {
      width: 108rem;
    }

    @include lg {
      width: 100rem;
    }

    @media only screen and (max-width: 50em) {
      width: 108rem;
    }

    @include md {
      width: 70rem;
    }

    @media only screen and (max-width: 36.25em) {
      width: 68rem;
    }

    @media only screen and (max-width: 34.375em) {
      width: 40rem;
    }

    @include sm {
      padding: 6rem 0;
    }

    @media only screen and (max-width: 21.5em) {
      width: 33rem;
    }

    @media only screen and (min-width: 112.5em) {
      width: 130rem;
    }

    @media only screen and (min-width: 125em) {
      width: 144rem;
    }

    h3 {
      font-weight: 500;
      font-size: 2.8rem;
      color: $clr-black;
      line-height: 1.2;
      margin-bottom: 3rem;
      position: relative;

      display: flex;
      align-items: baseline;
      gap: 1rem;

      @media only screen and (max-width: 50em) {
        margin-left: 7rem;
      }

      @include md {
        margin-left: 0;
      }

      @include sm {
        flex-wrap: wrap;
        margin-bottom: 5rem;
      }

      @media only screen and (max-width: 20em) {
        font-size: 2.5rem;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 3.25rem;
        margin-bottom: 5rem;
      }

      @media only screen and (min-width: 125em) {
        font-size: 3.7rem;
      }

      &::after {
        display: inline-block;
        content: '';
        width: 50rem;
        height: 1px;
        padding: 1px 0;
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;

        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        @include lg {
          display: none;
        }
      }

      small {
        font-size: 0.875em;
        color: $clr-gray-dark;
      }
    }
  }
}
