@import '../../styles/variables.scss';

.phoneInput {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;

  label {
    display: inline-block;
    width: 15rem;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .inputGroup {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: $clr-gray-dark;
    border-radius: 0.5rem;
    box-shadow: inset $box-shadow;
    overflow: hidden;

    .inputGroupText {
      padding: 1.5rem 2rem;
      background-color: #e9ecef;
    }

    input {
      display: inline-block;
      border: none;
      outline: none;
      appearance: none;
      font-family: inherit;
      font-size: 100%;
      width: 100%;
      height: 100%;
      padding: 1.5rem 2rem;
      background-color: transparent;
      color: $clr-gray-dark;
      border-radius: 0.5rem;
      box-shadow: inset $box-shadow;
      caret-color: $clr-gray-light;
    }
  }
}
