@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.relatedProducts {
  display: flex;
  justify-content: center;

  .container {
    width: 100rem;
    padding: 10rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    .relatedHeader {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: var(--default-font-size);
      background-color: transparent;
      padding-right: 2rem;
      color: inherit;
      line-height: 1.5;
      letter-spacing: 0.5px;
      margin-bottom: 2rem;
      position: relative;

      @media only screen and (min-width: 93.75em) {
        font-size: 2rem;
      }

      @include lg {
        margin-left: 1.5rem;
      }

      @media only screen and (max-width: 56.25em) {
        font-size: 2rem;
      }

      &::before {
        content: '';
        width: 80%;
        height: 1px;
        padding: 1px 0;
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;

        position: absolute;
        top: 50%;
        left: 17rem;
        transform: translateY(-50%);

        @media only screen and (min-width: 93.75em) {
          left: 21rem;
        }

        @media only screen and (max-width: 56.25em) {
          left: 22rem;
        }
      }
    }

    .relatedWrap {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;

      @include lg {
        justify-content: center;
      }
    }
  }
}
