@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.relatedProducts {
  display: flex;
  justify-content: center;

  .container {
    width: 100rem;
    padding: 10rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    @include md {
      padding: 10rem 4.5rem;
    }

    @media only screen and (max-width: 44.9375em) {
      padding: 10rem 3rem;
    }

    .relatedHeader {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: var(--default-font-size);
      background-color: transparent;
      padding-right: 2rem;
      color: inherit;
      line-height: 1.5;
      letter-spacing: 0.5px;
      margin-bottom: 2rem;
      position: relative;

      @include lg {
        margin-left: 1.5rem;
      }

      @media only screen and (max-width: 56.25em) {
        font-size: 2rem;
      }

      @include md {
        margin: 0;
      }

      @media only screen and (min-width: 112.5em) {
        font-size: 2rem;
      }

      &::before {
        content: '';
        width: 80%;
        height: 1px;
        padding: 1px 0;
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;

        position: absolute;
        top: 50%;
        left: 17rem;
        transform: translateY(-50%);

        @media only screen and (max-width: 56.25em) {
          width: 75%;
          left: 22rem;
        }

        @include md {
          width: 74.5%;
        }

        @media only screen and (max-width: 41.25em) {
          width: 69.5%;
        }

        @media only screen and (max-width: 37.5em) {
          width: 65%;
        }

        @media only screen and (max-width: 32.9375em) {
          width: 62%;
        }

        @media only screen and (max-width: 31.25em) {
          width: 59%;
        }

        @media only screen and (max-width: 28.125em) {
          width: 54%;
        }

        @media only screen and (max-width: 25.875em) {
          width: 45%;
        }

        @media only screen and (max-width: 22.4375em) {
          width: 42%;
        }

        @media only screen and (max-width: 20.9375em) {
          display: none;
        }

        @media only screen and (min-width: 112.5em) {
          left: 21rem;
        }
      }
    }

    .relatedWrap {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;

      @include lg {
        justify-content: center;
      }

      @include md {
        justify-content: flex-start;
      }

      @media only screen and (max-width: 37.5em) {
        gap: 1.5rem;
      }

      @media only screen and (max-width: 34.6875em) {
        gap: 3rem;
      }

      @media only screen and (max-width: 32.9375em) {
        gap: 1.7rem;
      }

      @include sm {
        row-gap: 5rem;
        column-gap: 3rem;
      }

      @media only screen and (max-width: 25.875em) {
        gap: 3rem;
      }

      @media only screen and (max-width: 22.4375em) {
        gap: 2rem;
      }

      @media only screen and (max-width: 19.9375em) {
        gap: 3rem;
      }
    }
  }
}
