@import '../../styles/variables.scss';

.relatedProducts {
  display: flex;
  justify-content: center;

  .container {
    width: 100rem;
    padding: 10rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    .relatedHeader {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: var(--default-font-size);
      background-color: transparent;
      padding-right: 2rem;
      color: inherit;
      line-height: 1.5;
      letter-spacing: 0.5px;
      margin-bottom: 2rem;
      position: relative;

      &::before {
        content: '';
        width: 80%;
        height: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
        border-top: 1px solid $clr-gray-light;
        border-bottom: 1px solid $clr-gray-light;

        position: absolute;
        top: 50%;
        left: 17rem;
        transform: translateY(-50%);
      }
    }

    .relatedWrap {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
    }
  }
}
