@import '../../styles/responsive.scss';

.productLists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;

  @media only screen and (max-width: 53.125em) {
    gap: 4rem;
  }

  @include md {
    gap: 3rem;
  }
}
