@import '../../styles/responsive.scss';

.productLists {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 6rem;
  padding: 0 3rem;

  @media only screen and (max-width: 59.375em) {
    gap: 4rem;
  }

  @media only screen and (max-width: 50em) {
    gap: 2rem;
    padding: 0 5rem;
  }

  @include md {
    grid-template-columns: repeat(2, min-content);
    gap: 6rem;
    padding: 0 20rem;
  }

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // gap: 6rem;

  // @media only screen and (max-width: 53.125em) {
  //   gap: 4rem;
  // }

  // @include md {
  //   gap: 3rem;
  // }
}
