@import '../../styles/responsive.scss';

.productLists {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 9rem;
  padding: 0 3rem;

  @media only screen and (max-width: 81.25em) {
    padding-left: 6rem;
  }

  @include xl {
    padding: 0 6rem;
  }

  @media only screen and (max-width: 64em) {
    padding: 0 3rem;
    gap: 6rem;
  }

  @media only screen and (max-width: 59.375em) {
    gap: 4rem;
  }

  @media only screen and (max-width: 50em) {
    gap: 2rem;
    padding: 0 5rem;
  }

  @include md {
    grid-template-columns: repeat(2, min-content);
    gap: 6rem;
    padding: 0 18.94rem;
  }

  @media only screen and (max-width: 36.875em) {
    gap: 5rem;
    padding: 0 19.45rem;
  }

  @media only screen and (max-width: 34.375em) {
    grid-template-columns: min-content;
    gap: 6rem;
    padding: 0 36.94rem;
  }

  @media only screen and (max-width: 21.5em) {
    padding: 0 35.45rem;
  }

  @media only screen and (min-width: 112.5em) {
    gap: 7.5rem;
    padding: 0;
  }

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // gap: 6rem;

  // @media only screen and (max-width: 53.125em) {
  //   gap: 4rem;
  // }

  // @include md {
  //   gap: 3rem;
  // }
}
