@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.register {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 12rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    @include sm {
      padding: 8rem 0;
    }

    .wrapper {
      width: 100rem;
      height: 100%;
      display: flex;
      justify-content: space-between;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;
      overflow: hidden;

      @media only screen and (max-width: 62.5em) {
        width: 95rem;
      }

      @include md {
        width: 50rem;
      }

      @include sm {
        width: 45rem;
      }

      @media only screen and (max-width: 23.4375em) {
        width: 40rem;
      }

      @media only screen and (max-width: 17.5em) {
        width: 30rem;
      }

      @media only screen and (min-width: 112.5em) {
        width: 110rem;
      }

      .imgWrap {
        flex: 1;
        width: 100%;
        height: 100%;
        padding: 2rem 3rem;
        background-color: #cc8840;

        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 62.5em) {
          padding: 2rem;
        }

        @include md {
          display: none;
        }

        @media only screen and (min-width: 112.5em) {
          padding: 4rem;
        }

        img {
          width: 40rem;
          height: 35rem;
          display: block;
          object-fit: contain;

          @media only screen and (max-width: 62.5em) {
            width: 35rem;
          }

          @media only screen and (min-width: 112.5em) {
            width: 45rem;
            height: 40rem;
          }
        }
      }

      .formWrap {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: $clr-white;
        padding: 2rem 3rem;

        @media only screen and (max-width: 62.5em) {
          padding: 2rem;
        }

        @media only screen and (max-width: 17.5em) {
          padding: 1.5rem;
        }

        @media only screen and (min-width: 112.5em) {
          padding: 4rem;
        }

        .headingWrap {
          h1 {
            font-weight: 500;
            font-size: 3rem;
            line-height: 1;

            @include xl {
              font-size: 3.33333rem;
            }

            @media only screen and (max-width: 23.4375em) {
              font-size: 2.5rem;
            }

            @media only screen and (max-width: 17.5em) {
              font-size: 2rem;
            }

            @media only screen and (min-width: 112.5em) {
              font-size: 3.5rem;
            }

            span {
              text-transform: capitalize;
              font-weight: 700;
              color: #cc8840;

              &::after {
                display: inline-block;
                content: '';
                width: 0.5rem;
                height: 0.5rem;
                background-color: currentColor;
                border-radius: 50%;

                @media only screen and (min-width: 112.5em) {
                  width: 0.8335rem;
                  height: 0.8335rem;
                }
              }
            }
          }
        }

        .registerForm {
          .slideBox {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;

            .btnPrev,
            .btnNext {
              all: unset;
              text-align: center;
              text-transform: capitalize;
              font-weight: 500;
              font-size: 1.2rem;
              padding: 3px 0.5rem;
              background-color: transparent;
              color: $clr-gray-dark;
              border: 1px solid currentColor;
              border-radius: 0.5rem;
              cursor: pointer;

              @include xl {
                font-size: 1.34rem;
              }

              @media only screen and (max-width: 56.25em) {
                font-size: 1.5rem;
              }

              @media only screen and (max-width: 17.5em) {
                padding: 2px 4px;
              }

              @media only screen and (min-width: 112.5em) {
                font-size: 1.5rem;
              }

              &:disabled {
                opacity: 0.7;
                cursor: default;
              }
            }

            .btnPrev,
            .btnNext {
              display: none;
              opacity: 0;
              visibility: hidden;
              z-index: -1;

              &.show {
                display: inline-block;
                opacity: 1;
                visibility: visible;
                z-index: 1000;
              }
            }
          }

          .buttonWrap {
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            @include sm {
              flex-direction: column;
            }

            .registerBtn,
            .googleBtn {
              border: none;
              outline: none;
              text-align: center;
              font-size: 1.35rem;
              width: 100%;
              padding: 1.4rem 1rem;
              border-radius: 0.5rem;
              cursor: pointer;

              @include xl {
                font-size: 1.5rem;
              }

              @include lg {
                font-size: 1.45rem;
              }

              @media only screen and (max-width: 56.25em) {
                font-size: 1.56rem;
              }

              @include md {
                font-size: 1.625rem;
              }

              @media only screen and (min-width: 112.5em) {
                font-size: 1.66667rem;
              }

              &:disabled {
                opacity: 0.7;
                cursor: default;
              }
            }

            .registerBtn {
              display: flex;
              align-items: center;
              justify-content: center;

              text-transform: capitalize;
              background-color: $clr-primary;
              color: $clr-white;
              transition: all 0.3s;

              &:hover {
                background-color: $clr-secondary;
              }
            }

            .googleBtn {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;

              background-color: transparent;
              -webkit-box-shadow: inset $box-shadow;
              box-shadow: inset $box-shadow;
              transition: all 0.3s;

              &:hover {
                background-color: $clr-tertiary;
                color: $clr-secondary;
              }

              img {
                width: 1.5rem;
                height: 1.5rem;
                display: block;
                object-fit: cover;

                @include lg {
                  width: 1.67rem;
                  height: 1.67rem;
                }

                @include md {
                  width: 1.875rem;
                  height: 1.875rem;
                }

                @media only screen and (min-width: 112.5em) {
                  width: 2rem;
                  height: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
