@import '../../styles/variables.scss';

.register {
  display: flex;
  justify-content: center;

  .container {
    width: 144rem;
    padding: 12rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      width: 100rem;
      min-height: 50rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      background-color: $clr-secondary;
      -webkit-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;
      overflow: hidden;

      .imgWrap {
        flex: 1;
        width: 100%;
        height: 100%;
        padding: 2rem 3rem;
        background-color: $clr-secondary;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 40rem;
          height: 35rem;
          display: block;
          object-fit: contain;
        }
      }

      .formWrap {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: $clr-white;
        padding: 2rem 3rem;

        .headingWrap {
          margin-top: -1rem;

          h1 {
            font-weight: 500;
            font-size: 3rem;
            line-height: 1;

            span {
              text-transform: capitalize;
              font-weight: 700;
              color: #cc8840;

              &::after {
                display: inline-block;
                content: '';
                width: 0.5rem;
                height: 0.5rem;
                background-color: currentColor;
                border-radius: 50%;
              }
            }
          }
        }

        .registerForm {
          .formGroup {
            display: flex;
            flex-direction: column;
            position: relative;

            &:not(:last-child) {
              margin-bottom: 1rem;
            }

            label {
              display: inline-block;
              width: 7rem;
              text-transform: capitalize;
              font-weight: 500;
              font-size: 1.5rem;
            }

            input {
              display: inline-block;
              border: none;
              outline: none;
              appearance: none;
              font-family: inherit;
              font-size: var(--default-font-size);
              width: 100%;
              height: 100%;
              padding: 1.5rem 2rem;
              background-color: transparent;
              color: $clr-gray-dark;
              border-radius: 0.5rem;
              -webkit-box-shadow: inset $box-shadow;
              box-shadow: inset $box-shadow;
              caret-color: $clr-secondary;

              &::placeholder {
                font-weight: 400;
                font-size: 1.5rem;
                color: $clr-gray-light;
              }
            }

            .icon {
              position: absolute;
              top: 4.35rem;
              right: 2rem;
              display: none;
              visibility: hidden;
              opacity: 0;
              z-index: -1;

              &.show {
                display: inline-block;
                visibility: visible;
                opacity: 1;
                z-index: 999;
              }

              svg {
                font-size: 2rem;
                fill: inherit;
              }
            }
          }

          .buttonWrap {
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            .registerBtn,
            .googleBtn {
              all: unset;
              display: inline-block;
              text-align: center;
              font-size: 1.4rem;
              width: 100%;
              padding: 1.5rem 1rem;
              border-radius: 0.5rem;
              cursor: pointer;
            }

            .registerBtn {
              text-transform: capitalize;
              background-color: $clr-primary;
              color: $clr-white;
              transition: all 0.3s;

              &:hover {
                background-color: $clr-secondary;
              }
            }

            .googleBtn {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;
              -webkit-box-shadow: inset $box-shadow;
              box-shadow: inset $box-shadow;

              img {
                width: 1.5rem;
                height: 1.5rem;
                display: block;
                object-fit: cover;
              }
            }
          }
        }

        .signinWrap {
          line-height: 1.2;
  
          p {
            font-size: 1.5rem;
            color: $clr-gray-dark;
  
            a,
            a:link,
            a:active {
              text-transform: capitalize;
              color: $clr-primary;
              transition: all 0.3s;
  
              &:hover,
              &:visited {
                color: $clr-secondary;
              }
            }
          }
        }
      }
    }
  }
}
