@import '../../styles/variables.scss';

.checkoutTotal {
  flex: 2;
  width: 41.66666667%;

  .checkoutWrap {
    .checkoutDetail {
      width: 100%;
      background-color: transparent;
      box-shadow: $box;
      border-radius: 3px;

      .checkoutCard {
        .checkoutHeader {
          font-weight: 700;
          font-size: 1.3rem;
          word-wrap: break-word;
          padding: 1.5rem;
          background-color: inherit;
          border-bottom: 1px solid $line;

          .checkoutCustomer {
            text-transform: capitalize;
            font-weight: 500;
            font-size: 1.4rem;
            color: #6b6b83;
          }
        }

        .checkoutBody {
          height: 35rem;
          overflow-y: auto;

          .checkoutProductBox {
            .checkoutProduct {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              padding: 1.5rem;
              border-bottom: 1px solid $line;

              .checkoutProductName {
                flex: 0.6;
                font-size: 1rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                a,
                a:link,
                a:active {
                  color: $clr-primary;

                  p {
                    text-transform: capitalize;
                    font-weight: 700;
                    font-size: 1.4rem;
                    color: currentColor;

                    span {
                      margin-right: 1rem;
                    }
                  }
                }

                .checkoutQty {
                  button {
                  }

                  .qty {
                  }
                }
              }

              .checkoutDeleteWrap {
                flex: 0.1;

                button {
                }
              }

              .checkoutPrice {
                flex: 0.3;

                span {
                }
              }
            }
          }

          .checkoutTotal {
            .checkoutTotalPrice {
              span {
              }
            }
          }

          .totalCheckout {
            span {
            }
          }
        }
      }
    }
  }
}
