@import '../../styles/variables.scss';

.checkoutTotal {
  flex: 2;
  width: 41.66666667%;

  .checkoutWrap {
    .checkoutDetail {
      width: 100%;
      background-color: transparent;
      box-shadow: $box;
      border-radius: 3px;

      .checkoutCard {
        .checkoutHeader {
          font-weight: 700;
          font-size: 1.3rem;
          word-wrap: break-word;
          padding: 1.5rem;
          background-color: inherit;
          border-bottom: 1px solid $line;

          .checkoutCustomer {
            text-transform: capitalize;
            font-weight: 500;
            font-size: 1.4rem;
            color: #6b6b83;
          }
        }

        .checkoutBody {
          .checkoutProductBox {
            .checkoutProduct {
              .checkoutProductName {
                a,
                a:link,
                a:active {
                }

                .checkoutQty {
                  button {
                  }

                  .qty {
                  }
                }
              }

              .checkoutDeleteWrap {
                button {
                }
              }

              .checkoutPrice {
                span {
                }
              }
            }
          }

          .checkoutTotal {
            .checkoutTotalPrice {
              span {
              }
            }
          }

          .totalCheckout {
            span {
            }
          }
        }
      }
    }
  }
}
